<template lang="html">
  <div class="todo-item grid">
    <div class="todo-added" v-if="added">
      {{ added | dateFilter }}
    </div>
    <div class="todo-context-button">
      <i class="eva eva-arrow-down"></i>
    </div>
    <div class="todo-context-menu">
      wuegfiuweioufwegfiou
    </div>
    <span class="todo-desc" v-if="text">
      {{ text }}
    </span>
    <span class="todo-tags" v-if="tags">
      <span class="tag"  v-for="(tag, i) in tags" v-bind:key="i">{{ tag }}</span>
    </span>
    <span class="todo-due-date" v-if="dueDate">
      Due: {{ dueDate }}
    </span>
    <!--
    <div class="inline-control-icon-left larger">
      {{ item.added | dateFilter }}
    </div>
    <div class="todo-actions">
      <div class="popover-trigger">
        <div v-if="!isPopoverShown" @click="togglePopover">
          <i class="fas fa-wrench" ></i>

        </div>
        <div v-if="isPopoverShown"  @click="togglePopover">
          <i class="far fa-times-circle" ></i>

        </div>
      </div>
      <div class="popover-content">

      </div>
      <div v-if="type === 'current'" v-on:click="archiveTodo()" class="inline-control-icon-right hover">
        <i class="fa fa-check" aria-hidden="true" ></i>
      </div>
      <div v-else-if="type === 'archived'" v-on:click="deleteTodo()" class="inline-control-icon-right hover">
        <i class="fa fa-window-close-o" aria-hidden="true" ></i>
      </div>
    </div>

    <span class="todo-desc">
        {{ item.title }}
    </span>
    <div class="item-tags">
      <span class="tag"  v-for="(tag, i) in item.tags" v-bind:key="i">{{ tag }}</span>
    </div>
    <form v-if="isEditingExistingTodo" class="editing-todo">
      <textarea v-model="editingTodoText"></textarea>
    </form>
    <footer class="footer-item">
      <span v-if="item.due">Due: {{ item.due | dateFilter }}</span>
    </footer>-->
  </div>
</template>

<script>

import "eva-icons/style/eva-icons.css";

import format from "date-fns/format";

export default {
  name: "todo-item",
  props: {
    added: Number,
    dueDate: Number|String,
    tags: Array,
    text: String
  },
  filters: {
    dateFilter(timestamp) {
      return format(timestamp, "DD/MM/YYYY")
    }
  }
}
/*
import $ from "jquery";
import moment from "moment";

import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "dbInstance",
      "firebaseProfileId",
    ])
  },
  data(){
    return {
      editingTodoText: this.item.title,
      isEditingExistingTodo: false,
      isPopoverShown: false
    }
  },
  directives: {
    detectUrls(el, binding, vNode) {
      // BROKEN, because as soon as you attach a directive to it, it causes the last item of the array to be deleted for some weird reason.
      //console.log(el, binding, vNode);
      /*
      let newText = el.innerHTML.replace(/(https?:\/\/[^\s]+)/g, (url) => {
        return `<a href="${url}" target="_blank">${url}</a>`
      });

      el.innerHTML = newText;
      console.log(newText);


      el.innerText.replace(/(https?:\/\/[^\s]+)/g, (url) => {
        return `<a href="${url}" target="_blank">${url}</a>`
      });

      //console.log("i was run with ", el.innerText);
    }
  },
  filters: {
    dateFilter(timestamp) {
      return moment(new Date(timestamp)).format("DD MMMM YYYY");
    }
    /*
    detectUrls(string){
      return string.replace(/(https?:\/\/[^\s]+)/g, (url) => {
        return `<a href="${url}" target="_blank">${url}</a>`
      });
      //console.log(string);
      //return string.toUpperCase();
    }
  },
  props: [
    "fbKey",
    "index",
		"item",
		"type"
  ],
  methods: {
		archiveTodo() {
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/archivedTodos/").child(this.item[".key"]).set({
        added: this.item.added ? this.item.added : null,
        due: this.item.due ? this.item.due : null,
        tags: this.item.tags ? this.item.tags : null,
        title: this.item.title,
      });
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/todos/" + this.item['.key']).remove();
		},
		deleteTodo(archiveTodo) {
			this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/archivedTodos/" + this.item[".key"]).remove();
		},
    toggleEditingExistingTodo(){
      this.isEditingExistingTodo = !this.isEditingExistingTodo;
      if (!this.isEditingExistingTodo){
        this.updateTodo();
      }
    },
    togglePopover(){
      this.isPopoverShown = !this.isPopoverShown;
    },
    updateTodo(){
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/todos/").child(this.fbKey).set({
        title: this.editingTodoText
      });
    },
    blar(){
      console.log("test")
    }
  }
}*/
</script>

<style lang="css">

.todo-item {
  background: rgba(15, 9, 5, 0.39);
  box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
  padding: 16px;
  color: rgba(113, 98, 113, 1);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  min-width: 128px;
  max-width: 256px;
  transition: 0.6s all;
}

.todo-desc {
  font-size: 0.7em;
  text-align: left;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
}

.todo-added {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: rgb(11, 8, 21);
  line-height: 6px;
  vertical-align: middle;
  border-bottom-right-radius: 12px;
  padding: 8px;
  z-index: 1;
  font-size: 11px;
  color: rgb(108, 85, 62);
  transition: 0.6s all;
}

.todo-item:hover {
  background: rgba(15, 9, 5, 0.6);
  box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.5);
  cursor: default;
}

.todo-item:hover .todo-added{
  color: rgba(163, 144, 163, 1);
}

.todo-context-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size:18px;
  opacity: 0.8;
  color: rgba(108, 85, 62, 0.6);
  transition: 0.6s all;
}

.todo-context-button:hover {
  color: rgba(136, 117, 98, 0.74);
  cursor: pointer;
}

.todo-context-menu {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  background: black;
  word-wrap: break-word;
  padding: 4px;
  font-size: 12px;
}

  .todo-due-date {
    margin-right: 4px;
    margin-top: 7px;
    background: rgba(var(--r),var(--g),var(--b),0.1);
    color: white;
    border-radius: 8px;
    word-wrap: normal;
    padding: 4px;
    font-size: 9px;
    position: absolute;
    text-align: center;
  }


/*

.editing-todo textarea {
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
  word-wrap: break-word;
  background: rgba(0,0,0,0.3);
	width: 90%;
	min-height: 80px;
  border: none;
  outline: none;
  font-size: 1.2em;
  resize: none;
  padding: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

  .item-tags {
    float: left;
    margin-top: 8px;
    word-wrap: break-word;
    width: 100%;
  }
 .item-tags .tag {
   margin-right: 4px;
   margin-top: 7px;
   background: rgba(255,255,255,0.1);
   color: white;
   border-radius: 8px;
   padding: 4px;
   font-size: 9px;
 }

 .todo-actions {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 8000;

 }

 .popover-trigger {
   font-size: 15px;
   margin: 6px;
   color: rgba(255, 255, 255, 0.5);
   z-index: 8000;

 }

 */

</style>
