<template lang="html">
  <section class="todos-container">
    <div v-if="isLoading">{{ loadingText }}</div>
    <div v-if="!todoMeta">
      <todo-item text="No todos here..."/>
    </div>
    <div v-if="todoMeta">
      <todo-item
        v-for="(todo, key) in decryptedTodoMeta.todos"
        :added="todo.added"
        :dueDate="todo.dueDate"
        :tags="todo.tags"
        :text="todo.text"
        :key="key" />

      <!--
      <div  class="todo-item grid">
        <div class="todo-added">
          {{ todo.added | dateFilter }}
        </div>
        <div class="todo-context-button">
          <i class="eva eva-arrow-down"></i>
        </div>
        <div class="todo-context-menu">
          wuegfiuweioufwegfiou
        </div>
        <span class="todo-desc">
          {{  }}
        </span>
        <span class="todo-tags">
          {{ todo.tags }}
        </span>
        <span class="todo-due-date">
          {{ todo.dueDate }}
        </span>-->
        <!--
        <div class="inline-control-icon-left larger">
          {{ item.added | dateFilter }}
        </div>
        <div class="todo-actions">
          <div class="popover-trigger">
            <div v-if="!isPopoverShown" @click="togglePopover">
              <i class="fas fa-wrench" ></i>

            </div>
            <div v-if="isPopoverShown"  @click="togglePopover">
              <i class="far fa-times-circle" ></i>

            </div>
          </div>
          <div class="popover-content">

          </div>
          <div v-if="type === 'current'" v-on:click="archiveTodo()" class="inline-control-icon-right hover">
            <i class="fa fa-check" aria-hidden="true" ></i>
          </div>
          <div v-else-if="type === 'archived'" v-on:click="deleteTodo()" class="inline-control-icon-right hover">
            <i class="fa fa-window-close-o" aria-hidden="true" ></i>
          </div>
        </div>

        <span class="todo-desc">
            {{ item.title }}
        </span>
        <div class="item-tags">
          <span class="tag"  v-for="(tag, i) in item.tags" v-bind:key="i">{{ tag }}</span>
        </div>
        <form v-if="isEditingExistingTodo" class="editing-todo">
          <textarea v-model="editingTodoText"></textarea>
        </form>
        <footer class="footer-item">
          <span v-if="item.due">Due: {{ item.due | dateFilter }}</span>
        </footer>
      </div>-->

    </div>
  </section>
</template>

<script>


import { mapActions, mapGetters } from "vuex";
import aesjs from "aes-js";

import TodoItem from "~/components/Todo/TodoItem.vue";

export default {
  data(){
    return {
      decryptedTodoMeta: { todos: [] },
      isLoading: false
    }
  },
  components: {
    "todo-item": TodoItem
  },
  computed: {
    ...mapGetters([
      "encryptionKey",
      "todoMeta",
      "userId"
    ])
  },
  methods: {
    ...mapActions([
      "readDB"
    ]),
    decryptTodos(){
      // NOTE THIS IS INCREDIBLY EXPENSIVE... YOU SHOULD FIND A WAY TO DECRYPT ON A PER TODO BASIS INSTEAD OF THE ENTIRE THING WHEN SOMETHING IS ADDED....
      if (!this.encryptionKey){
        this.decryptedTodoMeta.todos = [];
        this.decryptedTodoMeta.todos.push({
          "added": Date.now(),
          "text": "Please add your encryptionKey in the Settings"
        });
        this.isLoading = false;
      }
      else {
        this.isLoading = true;
        this.loadingText = "Decrypting...";
        this.decryptedTodoMeta.todos = [];
        this.todoMeta.todos.forEach((v, i) => {
          this.decryptedTodoMeta.todos.push({
            "added": v.added,
            "text": aesjs.utils.utf8.fromBytes(new aesjs.ModeOfOperation.ctr(this.encryptionKey).decrypt(aesjs.utils.hex.toBytes(v.text))),
            "tags": v.tags,
            "dueDate": v.dueDate
          });
        });
        this.isLoading = false;
      }
    }
  },
  mounted(){
    if (this.userId){
      this.readDB("TODO");
      this.isLoading = true;
      this.loadingText = "Loading...";
    }
  },
  watch: {
    userId(){
      this.readDB("TODO")
    },
    todoMeta(){
      this.decryptTodos();
    }
  }
}
</script>

<style lang="css">

  .todos-container {
    margin-top: 16px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }


  /*
  .list {
    width: 100%;
  }

  .grid {
    width: auto;
  }*/


  @media (max-width: 600px){


    .todo-item {
      width: 100%;
      max-width: 100%;
    }
  }
</style>
