<template lang="html">
  <modal name="new-todo-modal" @closed="hideModal('TODO')" :height="'auto'" :adaptive="true" :scrollable="true">
    <div class="modal-inner pad">
      <h1>Add new todo</h1>
      <div class="date-select">
        <label for="todo-date-select">Due on:</label>
        <input v-model="newTodoDueDate" type="date" id="todo-date-select"/>
      </div>

      <textarea placeholder="Todo Text..." class="" v-model="newTodoText"></textarea>
      <section class="todo-tags">
        <div class="available-tags">
          <span class="tag" v-for="(tag, i) in availableTags" :key="i" :class="{ 'tag-selected': isTagInArray(tag) }" v-on:click="handleTagToggle(tag)">{{ tag }}</span>
        </div>
      </section>
      <button @click="handleNewTodo"><span v-if="!isLoading">{{ newTodoButtonLabel }}</span><span v-if="isLoading"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></span></button>
    </div>
  </modal>
</template>

<script>

import * as eva from "eva-icons";

import aesjs from "aes-js";
import bcrypt from "bcryptjs";

import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "encryptionKey",
      "isTodoModalShown",
      "todoMeta",
      "userId"
    ])
  },
  data(){
    return {
      newTodoDueDate: "",
      newTodoTags: [],
      newTodoText: "",
      newTag: "",
      encryptedHex: "",
      notificationText: "",
      todos: [],
      tags: [],
      isLoading: false,
      newTodoButtonLabel: "Add",
      availableTags: ["Life", "Fun", "Self Improvement", "Bill"],
    }
  },
  methods: {
    ...mapActions([
      "hideModal",
      "updateDB"
    ]),
    async addNewTodo(){
      this.isLoading = true;
      let updatedTodos = []
      let newTodo = { "added": Date.now(), text: this.encryptedHex, "tags": this.newTodoTags, "dueDate": this.newTodoDueDate };
      this.todoMeta ? updatedTodos = [ ...this.todoMeta.todos, newTodo] : updatedTodos.push(newTodo);
      await this.updateDB({
        "dbName": "TODO",
        "data": {
          "todos": updatedTodos
        }
      });
      this.newTodoButtonLabel = "Todo added";
      setTimeout(() => { this.reset() }, 1500);
    },
		reset() {
			this.newTodoText = "";
      this.newTodoButtonLabel = "Add";
      this.newTodoTags = [];
      this.isLoading = false;
      this.newTodoDueDate = "";
      this.encryptedHex = "";
		},
    handleNewTag(){
      this.availableTags.push(this.newTag);
      this.newTags = "";
    },
    isTagInArray(tag){
      return this.newTodoTags.indexOf(tag) === -1 ? false : true;
    },
    handleTagToggle(tag){
      this.isTagInArray(tag) === false ? this.newTodoTags.push(tag) : this.newTodoTags.splice(this.newTodoTags.indexOf(tag), 1);
    },
    handleModalBehaviour(){
      if (this.isTodoModalShown){
        this.$modal.show("new-todo-modal");
        this.$router.push("/todo?modalAction=add");
      }
      else {
        this.$router.push("/todo");
      }
    },
    async handleNewTodo(){
      this.isNotificationShown = false;
      if (!this.newTodoText){
        this.isNotificationShown = true;
        this.notificationText = "Please fill out at least the text :)"
      }
      else {
        this.addButtonLabel = "Working...";
        let bytes = aesjs.utils.utf8.toBytes(this.newTodoText);
        let mode = new aesjs.ModeOfOperation.ctr(this.encryptionKey);
        let encryptedBytes = mode.encrypt(bytes);
        this.encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);
        this.addNewTodo();
      }
    },
  },
  watch: {
    isTodoModalShown(){
      this.handleModalBehaviour();
    }
  }
}
</script>

<style lang="css">

  .modal-inner h1 {
    border-bottom: 1px solid rgba(224, 180, 154, 0.15);
    width: calc(100% + 64px);
    margin-left: -32px;
    padding-bottom: 16px;
  }

  .date-select {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    width: 108px;
    text-align: center;
  }

  .date-select label {
    font-size: 9px;

  }

  .date-select input[type="date"] {
  }

  .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 22px;
}
.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


</style>
