<template lang="html">

    <form class="sticky-form fill-height" v-if="isTodoFormExpanded" v-bind:class="{ 'minimised-form': !isTodoFormExpanded }">
      add button
      <button name="button" v-on:click.prevent="addTodo" class="full-width">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
      tabs
      <nav class="tab-options">
        <div type="button" class="tab-toggle-button" v-show="!toggleState">
          <button type="button" v-on:click="toggleSwitch">Text</button>
          <button type="button" disabled="disabled">Options</button>
        </div>
        <div type="button" class="tab-toggle-button" v-show="toggleState">
          <button type="button" disabled="disabled">Text</button>
          <button type="button" v-on:click="toggleSwitch">Options</button>
        </div>
      </nav> end tabs
      panels
      <div class="panels">
         one
        <div class="panel" v-if="toggleState">
           mandatory text
          <textarea
              type="text"
              name="add-new-todo-form"
              placeholder="Enter text..."
              v-model.trim="pendingTodoTitle"
              v-on:keyup.enter="addTodo"
          ></textarea>
        </div>
        two
        <div class="panel" v-if="!toggleState">
            options
            <div class="option">
              <h3>Categories</h3>
              <p>Add a relevant tag.</p>
              <div class="todo-tags">
                <div class="todo-tag" v-for="(tag, i) in todoTags" v-bind:key="i"  v-bind:class=" { 'tag-selected': isTagInArray(tag) } " v-on:click="toggleThisTag(tag)">{{ tag }}</div>
              </div>
            </div>
            <div class="option">
              <h3>Due date?</h3>
              <p>Is this due by a particular day?</p>
              <!--<datepicker v-bind:inline="true" v-model="datepickerDate"></datepicker>-->
              <div class="selected-date" v-if="datepickerDate">
                <span>You selected {{ datepickerDate | dateFilter}}</span>
                <button type="button" v-on:click="clearSelectedDate">CLEAR</button>
              </div>
            </div>
        </div>
      </div> end panels
    </form>
</template>

<script>

import { mapGetters, mapState }  from "vuex";
//import datepicker                from "vuejs-datepicker";

//import moment                    from "moment";

export default {
  /*
  computed: {
    ...mapGetters([
      "currentLoggedInGoogleUserEmailAddress",
      "dbInstance",
      "firebaseProfileId",
      "isTodoFormExpanded",
      "todoTags"
    ])
  },*/
  data(){
    return {
      isTodoFormExpanded: true
    }
  },/*
  filters: {
    dateFilter(timestamp) {
      //return moment(timestamp).format("MMMM DD YYYY");
    }
  },
  methods: {
    addTodo() {
      if (!this.pendingTodoTitle) {
        console.log("WARN")
      }
      else {
        if (this.datepickerDate){
          // todo - ALLOW THIS TO BE SWITCHED OFF IN USER OPTIONS
          this.syncWithGoogleCalendar();
          this.syncWithOrganiser();
        }
        this.syncWithTodo();
        this.clearTodo();
      }
    },
		clearTodo() {
			this.datepickerDate = null;
      this.selectedTags = [];
			this.pendingTodoTitle = "";
		},
    clearSelectedDate(){
      this.datepickerDate = null;
    },
    initTodoFormState(){
      this.$store.dispatch("initTodoFormState");
    },
    isTagInArray(tag){
      let index = this.selectedTags.indexOf(tag);
      if (index === -1){
        return false;
      }
      else {
        return true;
      }
    },
    syncWithGoogleCalendar(){
      let event = {
        "summary": this.pendingTodoTitle,
        "start": {
          "dateTime": this.datepickerDate,
          "timeZone": "Europe/London"
        },
        "end": {
          "dateTime": moment(this.datepickerDate).add(1, "H"),
          "timeZone": "Europe/London"
        },
        "attendees": [
          { "email": this.currentLoggedInGoogleUserEmailAddress}
        ]
      };
      let request = gapi.client.calendar.events.insert({
        "calendarId": "primary",
        "resource": event
      });
      request.execute((res) => {
        console.log("working...");
        console.log(res.htmlLink)
      });
    },
    syncWithTodo(){
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/todos").push({
        due: this.datepickerDate ? this.datepickerDate.toString() : "",
        tags: this.selectedTags,
        title: this.pendingTodoTitle,
        added: Date.now()
      });
    },
    syncWithOrganiser(){
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/calendarEvents").push({
        added: Date.now(),
        cell: `cell-${moment(this.datepickerDate).format("YYYY-MM-D")}`,
        due: this.datepickerDate ? this.datepickerDate.toString() : "",
        title: this.pendingTodoTitle,
      });
    },
    switchTab(int){
      this.whichTabHighlighted = int;
    },
    toggleThisTag(tag){
      let test = this.isTagInArray(tag);
      if (!test){
        this.selectedTags.push(tag);
      }
      else {
        let pos = this.selectedTags.indexOf(tag);
        this.selectedTags.splice(pos, 1);
      }
    },
    toggleSwitch(){
      this.toggleState = !this.toggleState;
    },
  },
  mounted() {
    this.initTodoFormState()
  }*/
}
</script>

<style lang="css">

  .vdp-datepicker__calendar {
    width: auto !important;
    border: 0 !important;
    color: #342b39 !important;
    background: black;
  }

  .vdp-datepicker__calendar .cell.day:hover:not(.blank):not(.disabled), .vdp-datepicker__calendar .cell.month:hover:not(.blank):not(.disabled), .vdp-datepicker__calendar .cell.year:hover:not(.blank):not(.disabled) {
    border: none !important;
  }

  .vdp-datepicker__calendar header .next:hover:not(.disabled), .vdp-datepicker__calendar header .prev:hover:not(.disabled), .vdp-datepicker__calendar header .up:hover:not(.disabled) {
    background: rgba(0,0,0,0.0) !important;
  }

  .vdp-datepicker__calendar header .next, .vdp-datepicker__calendar header .prev, .vdp-datepicker__calendar header .up {
    background: rgba(0,0,0,0.2) !important;
    color: rgba(255,255,255,1) !important;
  }

  .vdp-datepicker__calendar .cell.day-header {
    background: none !important;
    color:#584f4a !important;
  }

  .vdp-datepicker__calendar header .next::after {
    border-left-color: rgba(255,255,255,0.2) !important;
  }

  .vdp-datepicker__calendar header .prev::after {
    border-right-color: rgba(255,255,255,0.2) !important;
  }

  .vdp-datepicker__calendar .cell.day:hover:not(.blank):not(.disabled), .vdp-datepicker__calendar .cell.month:hover:not(.blank):not(.disabled), .vdp-datepicker__calendar .cell.year:hover:not(.blank):not(.disabled) {
    border: none !important;
    background: rgba(255,255,255,0.03) !important;
  }

  .vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
    background: #141016 !important;
    color: #5b4d62 !important;
  }

  .half-width{
    width: 50%;
  }

  .full-width {
    width: 100%;
  }

  .panels {
    height: 100%;
    float: left;
    width: 100%;
  }

  .panel {
    height: 100%;
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.4);
  }

  .panel h3 {
    font-size: 12px;
    font-weight: normal;
    color: #2d1d33;
    padding: 8px;
    margin-bottom: 4px;
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid #141318;
  }

  .panel p {
    padding: 8px;
  }

  .todo-form .todo-tags {
    margin: 8px;
    width: calc(100% - 16px);
    float: left;
  }

  .todo-tag {
    float: left;
    font-size: 9px;
    padding: 6px;
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #342b39;
    box-shadow: inset 0px 0px 20px 1px rgba(0,0,0,0.7);
  }

  .todo-tag:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .tag-selected {
    background: #150a1b;
  }

  .selected-date {
    width: 100%;
    float: left;
    margin-top: 16px;
  }

  .selected-date span {
    padding-left: 8px;
    font-size: 12px;
  }

  .selected-date button {
    width: 100%;
    float: left;
    margin-top: 8px;
  }


</style>
