<template lang="html">
  <section class="options">

    <div class="option" @click="showModal('TODO')">
      <i data-eva="plus-outline"></i><label>Add Todo</label>
    </div>

    <div class="option">
      <i data-eva="funnel-outline"></i><label>Filter</label>
    </div>

    <div class="relative option">
      <div @click="showMoreOptions">
        <i data-eva="more-horizontal-outline"></i>
      </div>
      <div class="more-options" :class="{ 'animated-out': isShowingMoreOptions }">
        <span>More Options</span>
        <button class="mt small"><i data-eva="arrowhead-up-outline"></i><label>Bulk Import</label></button>
      </div>
    </div>




  </section>
  <!--
  <div class="toggle-options" v-bind:class="{ 'minimised-options': !isTodoFormExpanded }">
    form show/hide
    <div class="toggle-option-button" v-if="isTodoFormExpanded" v-on:click="toggleTodoFormState">
       <i class="fa fa-toggle-left" aria-hidden="true"></i> Hide Form
     </div>
    <div class="toggle-option-button" v-if="!isTodoFormExpanded" v-on:click="toggleTodoFormState">
      <i class="fa fa-toggle-right" aria-hidden="true"></i> Show Form
    </div>
      Archive toggle buttons
    <div class="toggle-option-button" v-if="isViewingCurrentTodos" v-on:click="toggleIsViewingCurrentTodos">
      <i class="fa fa-folder" aria-hidden="true"></i> View Archive
    </div>
    <div class="toggle-option-button" v-if="!isViewingCurrentTodos" v-on:click="toggleIsViewingCurrentTodos">
      <i class="fa fa-folder-open" aria-hidden="true"></i> View Current
    </div>
     sort asc/desc
    <div class="toggle-option-button" v-if="isViewingSortOrderAsc" v-on:click="toggleSortOrder">
       <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Most Recent
     </div>
    <div class="toggle-option-button" v-if="!isViewingSortOrderAsc" v-on:click="toggleSortOrder">
      <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Oldest First
    </div>
    toggle list/grid
    <div class="toggle-option-button hide-on-mobile" v-if="isViewingGrid" v-on:click="toggleIsViewingGrid">
       <i class="fa fa-bars" aria-hidden="true"></i> List
     </div>
    <div class="toggle-option-button hide-on-mobile" v-if="!isViewingGrid" v-on:click="toggleIsViewingGrid">
      <i class="fa fa-th" aria-hidden="true"></i> Grid
    </div>
    filter todos by category
    <div class="toggle-option-button hide-on-mobile" v-if="!isViewingTodoFilterOptions" v-on:click="toggleIsViewingTodoFilterOptions">
       <i class="fa fa-filter" aria-hidden="true"></i> Filter
     </div>
    <div class="toggle-option-button hide-on-mobile" v-if="isViewingTodoFilterOptions" v-on:click="toggleIsViewingTodoFilterOptions">
      <i class="fa fa-filter" aria-hidden="true"></i> Hide Filter
    </div>
    a nice integer value to provide feedback on how many filters are active
    <div class="active-filters-counter" v-if="selectedTags.length > 0"> {{ selectedTags.length }} </div>
    the filters dropdown itself
    <div v-if="isViewingTodoFilterOptions" class="attached-todo-tags">
      <div class="todo-tag" v-for="(tag, i) in todoTags" v-bind:key="i" v-bind:class="{ 'tag-selected': isTagInArray(tag) }" v-on:click="filterByTag(tag)">{{ tag }}</div>
    </div>
  </div>-->
</template>

<script>

import * as eva from "eva-icons";

import { mapGetters, mapActions } from "vuex";

export default {
  data(){
    return {
      isShowingMoreOptions: false
    }
  },
  methods: {
    ...mapActions([
      "hideModal",
      "showModal"
    ]),
    showMoreOptions(){
      this.isShowingMoreOptions = !this.isShowingMoreOptions;
    }
  },
  mounted(){
    eva.replace();
  }
}

/*
export default {
  computed: {
    ...mapGetters([
      "isTodoFormExpanded",
      "isViewingCurrentTodos",
      "isViewingGrid",
      "isViewingSortOrderAsc",
      "isViewingTodoFilterOptions",
      "isViewingAllTodos",
      "isViewingCurrentTodos",
      "todoTags"
    ])
  },
  data(){
    return {
      selectedTags: [],
    }
  },
  methods: {
    ...mapActions([
      "clearFilter",
      "toggleSortOrder",
      "toggleIsViewingCurrentTodos",
      "toggleIsViewingGrid",
      "toggleTodoFormState",
      "toggleIsViewingTodoFilterOptions",
      "filterStateByTag",
      "setIsViewingAllTodos",
      "setIsViewingCurrentTodos",
    ]),
    isTagInArray(tag){
      let index = this.selectedTags.indexOf(tag);
      if (index === -1){
        return false;
      }
      else {
        return true;
      }
    },
    filterByTag(tag){
      let test = this.isTagInArray(tag);
      if (!test){
        this.selectedTags.push(tag);
      }
      else {
        let pos = this.selectedTags.indexOf(tag);
        this.selectedTags.splice(pos, 1);
      }
      if (this.selectedTags.length > 0){
        if (this.isViewingCurrentTodos){
          this.filterStateByTag({
            type: "Current",
            tags: this.selectedTags
          });
          this.setIsViewingCurrentTodos(true);
          this.setIsViewingAllTodos(false); // the opposite of all is filtered
        }
        else {
          this.filterStateByTag({
            type: "Archived",
            tags: this.selectedTags
          });
          this.setIsViewingCurrentTodos(false); // the opposite of current is archived
          this.setIsViewingAllTodos(false);
        }
      }
      else {
        this.clearFilter();
      }
    }
  }
}*/
</script>

<style lang="css">

  .more-options {
    position: absolute;
    transition: 0.3s all;
    opacity: 0;
    margin-left: -8px;
    background: rgba(0,0,0,0.5);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width:256px;
    z-index:99999;
  }

  .animated-out {
    opacity: 1;
    transform:translateY(8px) translateZ(8em);
    padding: 16px;
  }



  .attached-todo-tags {
    position: absolute;
    width: 128px;
    margin-top: 32px;
    right: 0;
    background: rgba(0,0,0,0.9);
  }

  .attached-todo-tags .todo-tag {
    width: 85%;
    margin-bottom: 0px;
    border-radius: 0px;
  }

  .active-filters-counter {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    background: red;
  }


</style>
