<!--
<template lang="html">
  <div v-on:dblclick="showCellDetail" v-bind:class="{ 'highlighted-cell': isCellToday }">

    <div class="cell-info">
      		<label class="day-number-label">{{ dayNumber }}</label>
          <label class="day-text-label">{{ identifierAsShortDayLabel }}</label>
      		<div class="cell-detail-icon" v-if="filteredSpends.length">
      			<span class="centered-item">
              <span class="small-currency"><i class="fa fa-gbp" aria-hidden="true"></i></span>
              {{ filteredSpendsCashTotal }}
              <label>{{ filteredSpends.length }} {{ pluraliseSpend }}</label>
            </span>
      		</div>
          <div class="cell-detail-icon" v-if="filteredEvents.length">
      			<span class="centered-item">
              {{ filteredEvents.length }}
              <label>{{ pluraliseEvent }}</label>
            </span>
      		</div>
      		<div class="payday-decal small-currency" v-if="isCellPayday">
      			<i class="fa fa-gbp" aria-hidden="true"></i>
      		</div>
    </div>
    <div class="hatched-overlay"></div>
	</div>
</template>
<script>
import $ 											              from "jquery";
import moment 								              from "moment";

import helpersMixin 					              from "../../helpers.js";

import { mapActions, mapGetters } 				  from "vuex";

export default {
	computed: {
    ...mapGetters([
      "calendarEvents",
      "calendarSpends",
      "googleEvents",
      "isCellDetailPanelShown",
			"paydayInfo",
      "profileId"
    ]),
		pluraliseEvent(){
			return this.filteredEvents.length === 1 ? "Event" : "Events";
		},
		pluraliseSpend(){
			return this.filteredSpends.length === 1 ? "Spend" : "Spends";
		},
		filteredEvents(){
			return helpersMixin.methods.filterArrayByIdentifier([this.calendarEvents, this.googleEvents], this.identifier, "day");
		},
		filteredSpends(){
			return helpersMixin.methods.filterArrayByIdentifier([this.calendarSpends], this.identifier, "day");
		},
		filteredSpendsCashTotal(){
			return helpersMixin.methods.reduceAllArrayAmounts(this.filteredSpends);
		},
    identifierAsShortDayLabel(){
      let chopped = this.identifier.split("-");
      let year = chopped[1];
      let month = (Math.floor(chopped[2])) - 1;
      let day = Math.floor(chopped[3]);
      let date = moment().year(year).month(month).date(day).format("dd");
      return date;
    },
		isCellPayday(){
			return this.day == this.paydayInfo.day
		},
		isCellToday(){
			return `cell-${this.todaysIsoDate}` == this.identifier;
		},
		todaysIsoDate(){
			return moment().format("YYYY-MM-D");
		},
	},
  methods: {
    ...mapActions([
      "setCurrentlyTargetedCellId",
      "setCurrentlyTargetedCellEvents",
      "setCurrentlyTargetedCellSpends",
      "setIsCellDetailPanelVisible"
    ]),
		offsetMonthIdByOne(year, month){
			return moment().year(year).month(month).add(1, "months").format("YYYY-MM");
		},
    showCellDetail(){
      if (!this.isCellDetailPanelShown){
        this.setIsCellDetailPanelVisible(true);
      }
      this.setCurrentlyTargetedCellId(this.identifier);
      this.setCurrentlyTargetedCellEvents(this.filteredEvents);
      this.setCurrentlyTargetedCellSpends(this.filteredSpends);
    }
	},
	props: [
		"dayNumber",
    "identifier"
	]
}
</script>

<style lang="css">

	.highlighted-cell {
		background: rgba(0, 0, 0, 0.5) !important;
	}


</style>-->
