<template lang="html">
  <form class="new-content-form">
    <!-- toggle buttons
    <div class="row">
      <div type="button" class="tab-toggle-button" v-show="!toggleState">
        <button type="button" v-on:click="toggleSwitch">Event</button>
        <button type="button" disabled="disabled">Spend</button>
      </div>
      <div type="button" class="tab-toggle-button" v-show="toggleState">
        <button type="button" disabled="disabled">Event</button>
        <button type="button" v-on:click="toggleSwitch">Spend</button>
      </div>
    </div>-->
    <!-- events
    <div class="row" v-show="toggleState">
      <div class="col-100">
        <input type="text" placeholder="Event Label" v-model="newEventLabel"  />
      </div>
      <div>
        <div class="submit-form-button"  v-if="newEventLabel">
          <i class="fa fa-plus" aria-hidden="true" v-on:click="handleNewContentFormSubmit"></i>
        </div>
      </div>
    </div>-->
    <!-- spends
    <div class="row" v-show="!toggleState">
      <div class="col-50">
        <input type="text" placeholder="Spend Label"  v-model="newSpendLabel" >
      </div>
      <div class="col-50">
        <span class="inline-currency-label" v-show="!toggleState">£</span>
        <input type="number" placeholder="0" min="0" step="any" class="custom-number-input" v-model="newSpendAmount" v-show="!toggleState"/>
      </div>
      <div>
        <div class="submit-form-button"  v-if="newSpendLabel">
          <i class="fa fa-plus" aria-hidden="true" v-on:click="handleNewContentFormSubmit"></i>
        </div>
      </div>
    </div>
    <div class="spending-tags" v-show="!toggleState">
      <div class="row">
        <div class="tag-item" v-for="tag in allOrganiserSpendingTags" v-on:click="toggleAddingTag(tag, $event)">
          <span class="tag-delete" v-if="toggleTagEditState">x</span>
          <span>{{ tag['.value'] }}</span>
        </div>
      </div>
      <div class="row">
        <div class="tag-item" v-on:click="toggleTagEditing">
          <span v-show="!toggleTagEditState">Edit Tags</span>
          <span v-show="toggleTagEditState">Cancel</span>
        </div>
        <input type="text" v-show="toggleTagEditState" v-on:keyup.enter="addNewTag" v-model="newTagText" placeholder="Add Tag" class="add-tag-input">
      </div>
    </div> -->
  </form>
</template>

<script>
/*
import $ from "jquery";
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "dbInstance",
      "allOrganiserSpendingTags",
      "firebaseProfileId",
      "isCellDetailPanelShown",
      "currentlyTargetedCellEvents",
      "currentlyTargetedCellIdentifer",
      "currentlyTargetedCellSpends",
    ]),
  },
  data(){
    return {
      isEditingTags: false,
      newEventLabel: "",
      newSpendLabel: "",
      newSpendAmount: "",
      newSpendTags: [],
      newTagText: "",
      toggleState: false,
      toggleTagEditState: false
    }
  },
  methods: {
    ...mapActions([
      "setCurrentlyTargetedCellId",
      "setCurrentlyTargetedCellEvents",
      "setCurrentlyTargetedCellSpends"
    ]),
    addNewTag(){
      this.databaseHandler("allOrganiserSpendingTags", this.newTagText);
      this.newTagText = "";
    },
    clearState(){
      console.log("clearstate called...");
      this.newEventLabel = "";
      this.newSpendLabel = "";
      this.newSpendAmount = "";
      this.newSpendTags = [];
      $(".tag-item").removeClass("active-tag");
    },
    handleNewContentFormSubmit(){
      if (this.newEventLabel && !this.newSpendLabel || !this.newSpendAmount){
        console.log("first")
        this.syncWithEvents();
      }
      else if (!this.newEventLabel && this.newSpendLabel && this.newSpendAmount){
        console.log("second")
        this.syncWithSpends();
        this.clearState();
      }
      else {
        console.log("TODO VALIDATION")
      }
    },
    toggleAddingTag(tag, event){
      // if the tag keyword IS on the array
      if (this.newSpendTags.indexOf(tag) !== -1){
        let pos = this.newSpendTags.indexOf(tag);
        // go ahead and remove it at whatever position
        this.newSpendTags.splice(pos, 1);
      }
      else {
        // otherwise plonk it on to the end of the array
        this.newSpendTags.push(tag['.value']);
      }
      // add/remove class from frontend
    //  helpersMixin.methods.toggleClassOnElement(event.target.offsetParent, "active-tag");
    },
    toggleTagEditing(){
      this.toggleTagEditState = !this.toggleTagEditState;
    },
    toggleSwitch(){
      this.toggleState = !this.toggleState;
    },
    syncWithEvents(){
      let payload = {
        added: Date.now(),
        cell: this.currentlyTargetedCellIdentifer,
        title: this.newEventLabel
      };
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/calendarEvents").push(payload)
        .then((res) => {
          this.setCurrentlyTargetedCellEvents([...this.currentlyTargetedCellEvents, {
            ".key": res.path.pieces_[3],
            ...payload
          }]);
        });
      this.clearState();
    },
    syncWithSpends(){
      let payload = {
        added: Date.now(),
        amount: this.newSpendAmount,
        cell: this.currentlyTargetedCellIdentifer,
        tags: this.newSpendTags,
        title: this.newSpendLabel
      };
      this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/calendarSpends").push(payload)
        .then((res) => {
          this.setCurrentlyTargetedCellSpends([...this.currentlyTargetedCellSpends, {
            ".key": res.path.pieces_[3],
            ...payload
          }]);
      })
      this.clearState();
    }
  }
}*/
</script>

<style lang="css">
</style>
