<template lang="html">
  <div>
    <!-- header
    <header class="sidebar-header row">
      <h4>{{ currentCellDate }}</h4>
    </header>-->
    <!-- close button
    <div class="close-sidebar-button">
      <i class="fa fa-times" aria-hidden="true" v-on:click="hideSidebar"></i>
    </div>-->
    <!-- form
    <cell-sidebar-form />-->
    <!-- existing
    <existing-events  v-if="currentlyTargetedCellEvents.length" class="existing-items"/>
    <existing-spends  v-if="currentlyTargetedCellSpends.length" class="existing-items"/> -->
  </div>
</template>

<script>
/*
import $                          from "jquery";
import moment                     from "moment";

import CellSidebarForm            from "./CellSidebarForm.vue";
import ExistingEvents             from "./ExistingEvents.vue";
import ExistingSpends             from "./ExistingSpends.vue";

import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    "cell-sidebar-form": CellSidebarForm,
    "existing-events": ExistingEvents,
    "existing-spends": ExistingSpends
  },
	computed: {
    ...mapGetters([
      "dbInstance",
      "allOrganiserSpendingTags",
      "isCellDetailPanelShown",
      "currentlyTargetedCellEvents",
      "currentlyTargetedCellIdentifer",
      "currentlyTargetedCellSpends",
    ]),
		currentCellDate(){
			if (this.currentlyTargetedCellIdentifer){
				return moment(this.currentlyTargetedCellIdentifer.substr(5, this.currentlyTargetedCellIdentifer.length)).format("Do MMM YYYY");
			}
		}
  },
  methods: {
    ...mapActions([
      "setIsCellDetailPanelVisible"
    ]),
    hideSidebar(){
      if (this.isCellDetailPanelShown){
        this.setIsCellDetailPanelVisible(false);
      }
    },
  },
}*/
</script>

<style lang="css">

  input[type="number"] {
      -moz-appearance: textfield;
  }

  .sidebar-header h4{
    font-size: 14px;
    line-height: 32px;
    padding: 8px;
    width: calc(100% - 16px);
    letter-spacing: 0px;
    background: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,0.14);
    border-bottom: 1px solid #1b1a20;
  }

  .close-sidebar-button, .submit-form-button {
    position: relative;
    color: #331725;
    font-size: 22px;
    position: absolute;
    right: 0;
    background: rgba(0,0,0,0.3);
    padding: 9px;
    z-index: 500;
  }

  .add-tag-input {
    background: rgba(0,0,0,0.2);
    outline: none;
    border: none;
    padding: 6px;
    font-size: 11px;
  	color: rgba(255,255,255,0.4);
  }

  .new-content-form {
  }

  input[type="text"]{
    padding: 16px;
    background: rgb(19, 18, 20);
    outline: none;
    border: 0;
    color: rgba(255,255,255,0.7);
    font-family: 'Armata', sans-serif;
    width: calc(100% - 32px);
  }

  .custom-number-input {
    background: none;
    padding: 16px;
    outline: none;
    color: rgba(255,255,255,0.7);
    background: rgb(19, 18, 20);
    border: none;
    font-family: 'Armata', sans-serif;
    width: calc(100% - 32px);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

	ol {
		padding-left: 14px;
		font-size: 12px;
		letter-spacing: 1px;
    float: left;
	}

	ol li {
		display: list-item;
		list-style-type: decimal;
		margin: 0;
		padding: 0;
		color: #635045;
	}

	ol li label {
		color: rgba(255,255,255,0.7);
	}

	.list-currency {
		color: #635045;
	}

  .inline-header {
    display: inline;
  }

  .existing-items {
    float: left;
    width: 100%;
  }

  .existing-items h4{
    width: calc(100% - 32px);
    padding: 16px;
    float: left;
  }

  .inline-currency-label {
    left: 50%;
    margin-top: 18px;
    margin-left: 6px;
    font-size: 12px;
    position: absolute;
    color: #886d5d;
  }


  .delete-item:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .spending-tags {
  }

  .active-tag {
    background: rgba(255,255,255,0.07) !important;
  }

  .tag-delete {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #262528;
    border-radius: 50%;
    top: -6px;
    right: -6px;
    line-height: 12px;
    text-align: center;
    color: #715e82;
  }

  .tag-item {
    position: relative;
    display: inline;
    font-size: 11px;
    padding: 6px;
    background: rgb(255, 255, 255, 0.02);
    float: left;
  }

  .tag-item:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .submit-form-button {
    padding: 10px;
  }

</style>
