<template lang="html">
    <div>
      <!--
      <h4>Spends</h4>
			<ol>
				<li v-for="spends in currentlyTargetedCellSpends">
					<label>{{ spends.title }}</label> -
					<span class="list-currency">£{{ spends.amount }}</span>
          <span class="delete-item" v-on:click="deleteItem(spends)">x</span>
				</li>
				Total: <span class="small-currency" >£{{ totalCurrentCellSpend }}</span>
			</ol>-->
    </div>
</template>

<script>
/*
import $                            from "jquery";
import helpersMixin 								from "../../helpers.js";

import { mapActions, mapGetters }   from "vuex";

export default {
  computed: {
    ...mapGetters([
      "dbInstance",
      "firebaseProfileId",
      "currentlyTargetedCellSpends",
    ]),
		totalCurrentCellSpend(){
			return helpersMixin.methods.reduceAllArrayAmounts(this.currentlyTargetedCellSpends);
		},
  },
  methods: {
    ...mapActions([
      "setCurrentlyTargetedCellSpends"
    ]),
    deleteItem(itemToDelete){
      if (this.currentlyTargetedCellSpends.length <= 1){
        this.setCurrentlyTargetedCellSpends([])
      }
      else {
        this.currentlyTargetedCellSpends.forEach((v, i) => {
          if (itemToDelete['.key'] === v['.key']){
            this.setCurrentlyTargetedCellSpends(this.currentlyTargetedCellSpends.splice(i, 1));
          }
        });
      }
      this.dbInstance.ref(`userWidgets/${this.firebaseProfileId}/calendarSpends/${itemToDelete['.key']}`).remove();
    }
  }
}*/
</script>

<style lang="css">
</style>
