<template lang="html">
  <div>
    <!--
    <h4>Events</h4>
    <ol>
      <li v-for="events in currentlyTargetedCellEvents">
        <label>{{ events.title }}</label>
        <span class="delete-item" v-on:click="deleteItem(events)" >x</span>
      </li>
      Total: <span class="small-currency" >{{ currentlyTargetedCellEvents.length }}</span>
    </ol>-->
  </div>
</template>

<script>

/*
import { mapActions, mapGetters } from "vuex";


export default {
  computed: {
    ...mapGetters([
      "allOrganiserSpendingTags",
      "currentlyTargetedCellEvents",
      "dbInstance",
      "firebaseProfileId"
    ]),
  },
  methods: {
    ...mapActions([
      "setCurrentlyTargetedCellEvents"
    ]),
    deleteItem(itemToDelete){
      if (this.currentlyTargetedCellEvents.length <= 1){
        this.setCurrentlyTargetedCellEvents([])
      }
      else {
        this.currentlyTargetedCellEvents.forEach((v, i) => {
          if (itemToDelete['.key'] === v['.key']){
            this.setCurrentlyTargetedCellEvents(this.currentlyTargetedCellEvents.splice(i, 1));
          }
        });
      }
      this.dbInstance.ref(`userWidgets/${this.firebaseProfileId}/calendarEvents/${itemToDelete['.key']}`).remove();
    }
  }
}*/
</script>

<style lang="css">
</style>
