<template lang="html">
  <section class="pad">
    <section class="options row">
      <div class="option" @click="showModal"><i class="fas fa-user-edit"></i> Edit Details</div>
    </section>
    <section class="organiser-statistics row">
      <div class="organiser-statistic">Payday in <span class="organiser-larger">{{ paydayDistanceInDays }} days</span> <span class="organiser-smaller">({{ nextPayDayShort }})</span></div>
      <div class="organiser-statistic"><span class="organiser-larger">{{ numEssentialBillsPaid }}</span> bills remaining</div>
      <div class="organiser-statistic"><span class="organiser-larger">£{{ monthlyNetIncome }}</span> paid monthly</div>
      <div class="organiser-statistic"><span class="organiser-larger">£213</span> remaining</div>

      <table>
        <tr>
          <td>Name</td>
          <td>Cost</td>
          <td>Due</td>
          <td>Essential</td>
          <td>Paid</td>
        </tr>
        <tr v-for="(bill, key) in bills">
          <td>{{ bill.name }}</td>
          <td>{{ bill.cost }}</td>
          <td>{{ bill.due }}</td>
          <td><input type="checkbox" :checked="bill.isEssential" disabled></td>
          <td><input type="checkbox" :checked="hasBeenPaid(bill, key)" disabled></td>
        </tr>
      </table>
    </section>
    <organiser-settings-modal />
  </section>
</template>

<script>

import { mapActions, mapGetters } from "vuex";

import lastDayOfMonth from "date-fns/last_day_of_month";
import format from "date-fns/format";
import differenceInCalendarDays from "date-fns/difference_in_calendar_days";
import OrganiserSettingsModal from "./OrganiserSettingsModal.vue";

export default {
  computed: {
    ...mapGetters([
      "organiserMeta",
    ]),
    monthlyGrossIncome(){
      return ( this.pay / 12 )
    },
    monthlyNetIncome(){
      return this.monthlyGrossIncome - ( this.monthlyGrossIncome * 0.31 )
    },
    paydayDistanceInDays(){
      return differenceInCalendarDays(this.nextPayDay, Date.now())
    },
    nextPayDayShort(){
      return format(this.nextPayDay, "DD/MM/YYYY")
    },
  },
  components: {
    "organiser-settings-modal": OrganiserSettingsModal
  },
  data(){
    return {
      pay: 0,
      extraRowCount: 0,
      isFirstRun: false,
      /*bills: [
        { name: "rent", cost: 680, isEssential: true },
        { name: "water", cost: 35, isEssential: true },
        { name: "eletricity", cost: 15, isEssential: true },
        { name: "council tax", cost: 110, isEssential: true },
        { name: "phone", cost: 15, isEssential: true },
        { name: "credit card", cost: 45, isEssential: true },
        { name: "overdraft", cost: 45, isEssential: true },
      ]*/
      bills: [],
      updateButtonText: "Update",
      nextPayDay: lastDayOfMonth(Date.now()),
      numEssentialBillsPaid: 0
    }
  },
  methods: {
    ...mapActions([
      "updateDB"
    ]),
    addExtraRow(){
      this.bills.push({ name: "", cost: 0, due: "", isEssential: false })
    },
    removeExtraRow(key){
      this.bills.splice(key, 1);
    },
    hasBeenPaid(bill, key){
      return differenceInCalendarDays(bill.due, Date.now()) <= 0 ? (this.bills[key].billPaid = true) : (this.bills[key].billPaid = false)
    },
    determineConfigMode(){
      if (!this.organiserMeta){
        this.isFirstRun = true;
        this.showModal();
      }
      else {
        if (document.location.search.indexOf("?config") > -1){
          this.$modal.show("configuration");
          this.isFirstRun = false;
        }
      }
    },
    parseDate(date){
      return date ? new Date(date.seconds * 1000) : null;
    },
    showModal() {
      this.$router.push("/organiser?config");
      this.$modal.show("organiser-configuration");
    },
    hideModal(){
      this.$router.push("/organiser");
      this.$modal.hide("organiser-configuration");
    },
    async update(){
      this.updateButtonText = "Updating..."
      await this.updateDB({
        "dbName": "organiserMeta",
        "data": {
          "payPerAnnum": this.pay,
          "bills": this.bills
        }
      });
      this.updateButtonText = "Success!";
      setTimeout(() => {
        this.updateButtonText = "Update";
        if (!this.organiserMeta){
          this.hideModal();
        }
      }, 1250)
    },
    removeURLFragment(){
      this.$router.push("/organiser")
    },
    setMetaData(){
      console.log("setting....")
      if (this.organiserMeta){
        console.log("has meta....")
        this.pay = this.organiserMeta.payPerAnnum;
        this.bills = this.organiserMeta.bills;
        this.numEssentialBillsPaid = 0;
        console.log("running once...")
        this.bills.reduce((accumulator, currentVal) => {
          return currentVal.isEssential ? this.numEssentialBillsPaid++ : false;
        }, 0);
      }
    }
  },
  mounted(){
    this.determineConfigMode();
    this.setMetaData();
  },
  watch: {
    organiserMeta(){
      this.determineConfigMode();
      this.setMetaData();
    }
  }
}
</script>

<style>

  .organiser-statistics {
    position: relative;
  }

    .organiser-smaller {
      font-size: 10px;

    }

    .organiser-larger {
      font-size: 26px;
    }



  .tag-new {
    padding: 8px;
    background: rgba(162, 155, 237, 0.1);
    color: rgba(131, 122, 232, 0.8);
    border-radius: 16px;
    display: inline-block
  }

  .tag-new {
    padding: 8px;
    background: rgba(162, 155, 237, 0.1);
    color: rgba(131, 122, 232, 0.8);
    border-radius: 16px;
    display: inline-block
  }

  .scroll {
    height: 100%;
    overflow-y: scroll;
  }





</style>
