<template lang="html">
	<div>
		<!-- add new / view existing form
		<cell-sidebar class="sticky-form fill-height calendar-interaction-wrapper" v-show="isCellDetailPanelShown"/>-->
		<!-- statistics
		<organiser-header />-->
			<!-- MAIN SECTION
		<div class="calendar-wrapper dragscroll" v-bind:class="{ 'smaller-calendar-wrapper': isCellDetailPanelShown}">
			<div class="scroll-x-container">-->
				<!-- ONE OF 14 MONTHS
				<month v-for="n in 14" v-bind:index="(n-3)" v-bind:key="createMonthKey(n)" v-bind:class="{ 'current-month': isCurrentMonth(n) }" />
			</div>
		</div>-->
	</div>
</template>

<script>
export default {}
/*
	import { mapActions, mapGetters } 	from "vuex";
	import $ 														from "jquery";
	import moment 											from "moment";
	import dragscroll 									from "dragscroll";

	import CellSidebar 									from "./CellSidebar.vue";
	import Month 												from "./Month.vue";
	import OrganiserHeader 							from "./OrganiserHeader.vue";

	import helpersMixin 								from "../../helpers.js";

  export default {
    data() {
      return {
				lastScrollDelta: 0,
				lastScrollDirection: null,
				isoDate: moment().format("YYYY-MM-D")
      }
    },
    computed: {
      ...mapGetters([
				"dbInstance",
        "allOrganiserSpendingTags",
				"googleEvents",
				"calendarEvents",
				"calendarSpends",
				"firebaseProfileId",
				"isCellDetailPanelShown",
        "isOrganiserBound",
        "paydayInfo"
      ]),
    },
		components: {
			CellSidebar,
			Month,
			OrganiserHeader
		},
    methods: {
			...mapActions([
				"bindFirebaseOrganiser",
				"setIsOrganiserBound"
			]),
			init() {
				if (!this.firebaseProfileId) return;
				this.bindFirebaseOrganiser();
				this.setIsOrganiserBound(true);
				this.syncGoogleCalendar();
			},
      computeCellId(yearMonth, day) {
        return `${yearMonth}-${day}`;
      },
			createMonthKey(n){
				return `monthKey${n}`;
			},
			handleMovingHeader(){
				// position
				let dx = $(".calendar-wrapper").scrollLeft();
				let pp = null;
				// direction
				if (dx > this.lastScrollDelta) this.lastScrollDirection = "right";
				else this.lastScrollDirection = "left";
				// current scroll value
				this.lastScrollDelta = $(".calendar-wrapper").scrollLeft();
				// new scroll value
				pp = parseInt($(".parallax-header").css("padding-left"));
				// apply
				if (this.lastScrollDirection == "right"){
					if (pp < 720) $(".parallax-header").css("padding-left", pp + 2);
				}
				else $(".parallax-header").css("padding-left", pp - 10);
			},
      isCurrentMonth(comparisonMonth){
        return moment().format("M") == comparisonMonth;
      },
      resetScroll(){
        // make it draggable
        dragscroll.reset();
  			// listen for scrolling
  			$(".calendar-wrapper").scroll(this.handleMovingHeader);
        // jump to the current month (always the 'second' .month-wrapper)
        $(".calendar-wrapper").scrollLeft(1683);
      },
			syncGoogleCalendar(){
				// this will call gapi behind the scenes and retreive all of the users google calendar items
				// it will then take a look at the googleEvents getter and see if any of them already exist
				// if they already exist it will ignore them, however if there's any new ones it will push that to the googleEvents firebase ref

				gapi.client.calendar.events.list({
          "calendarId": "primary",
          "timeMin": moment().subtract(3, "Months").toISOString(),
          "showDeleted": false,
          "singleEvents": true,
          "maxResults": 500,
          "orderBy": "startTime"
        }).then((res) => {
					let arr = JSON.parse(res.body).items;
					let remaining = arr;
					// first, create an array which just has items which are on google calendar, but not firebase (res.body vs this.googleEvents)
					this.googleEvents.forEach((c, ai) => {
						arr.forEach((v, gi) => {
							if (v.id == c.id){
								remaining.splice(gi, 1)
							}
						});
					});
					// then get the ones that need to be sync'd to googleEvents
					remaining.forEach((r, ri) => {
						let dateStamp = r.start.date ? r.start.date : r.start.dateTime;
						this.dbInstance.ref("userWidgets/" + this.firebaseProfileId + "/googleEvents").push({
							"id": r.id,
							"cell": `cell-${moment(dateStamp).format("YYYY-MM-DD")}`,
							"title": r.summary,
							"created": r.created,
							"start": dateStamp
						});
					})
				});

      }
    },
    mounted() {
			if (!this.paydayInfo){
				// user has undefined payday metadata, so take them to the installation page
				this.$router.push("/organiser/installation")
			}
			if (!this.isOrganiserBound){
				console.log("initialising...")
				this.init();
			}
      this.resetScroll();
    },
    watch: {
			// also bind to firebase when current logged in user changes (very likely to switch between guest and Google account)
      firebaseProfileId() {
				this.init();
      },

    },
  }*/
</script>

<style lang="css">

  .add-new-content-icon {
		float: right;
		color: #886d5d;
		font-size: 2.4em;
		position: absolute;
		top: 77px;
		right: 0;
		margin: 8px;
	}
  .calendar-wrapper {
		margin-top: 64px;
    overflow-x: scroll;
    width: calc(100% - 65px);
    position: relative;
  }

	.calendar-interaction-wrapper {
		float: left;
		position: relative;
		width: 256px;
	}

	.calendar-interaction-wrapper section {
		padding: 8px;
		padding-top: 16px;
		color: rgba(255,255,255,0.7);
	}

	.calendar-interaction-wrapper h4{
		font-size: 19px;
    letter-spacing: 2px;
    opacity: 0.6;
    font-weight: normal;
	}
	.calendar-interaction-wrapper h5{
		letter-spacing: 4px;
    opacity: 0.3;
    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
	}





  .clickable-button {
    width: 92px;
    height: 92px;
    background: rgba(255,255,255,0.05);
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin: 8px;
  }

  .clickable-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .clickable-button i {
    padding-left: 14px;
  }

  .clickable-button label {
    font-size: 0.75em;
  }

 .close-sidebar-button:hover, .add-new-content-icon:hover {
	 cursor: pointer;
	 opacity: 0.8;
	}

  .month-wrapper {
    width: 840px;
    float: left;
    position: relative;
    border-left: 1px solid #33261e;
  }

	.month-wrapper:hover {
	  cursor: -webkit-grab;
	  cursor: -moz-grab;
	}

	.month-wrapper h2 {
		color: #44342b;
		font-size: 1em;
		font-weight: normal;
	}

  .current-month {
  }

	.introduction-wrapper {
		margin: 64px;
		float: left;
		width: 60%;
	}

	.introduction-wrapper h3{
		margin-bottom: 16px;

	}

	.introduction-wrapper h4 {
		margin-top: 32px;
		margin-bottom: 16px;

	}

	.introduction-wrapper p {
		font-size: 14px;
	}


	.introduction-wrapper input[type="number"]{
		background: none;
		border: none;
		outline: none;
		font-size: 32px;
		display: inline;
		color: white;
		line-height: 32px;
		font-family: 'Armata', sans-serif;

	}

	.introduction-wrapper button{
		margin-top: 32px;
    width: 25%;
    padding: 8px;
    font-size: 32px;
    line-height: 32px;
    background: rgb(25, 22, 27);
    border: none;
    outline: none;
    font-family: 'Armata', sans-serif;
    color: #81553b;
	}
	.introduction-wrapper button:hover{
		cursor: pointer;
		opacity: 0.8;
	}

  .negative-nudge {
    float: left;
    margin-top: -10px;
  }
	.parallax-header {
		padding-left: 1px;
	}
	.cell {
	  display: inline-block;
	  width: 120px;
	  height: 120px;
		float:left;
		position: relative;
	}

  .cell-info {
    position: relative;
    z-index: 10;
  }

	.centered-item {
		float: left;
    margin-top: 10px;
    position: relative;
    width: 100%;
    text-align: center;
		font-size: 0.95em;
	}



	.cell-detail-icon{
		float: left;
    font-size: 15px;
    position: relative;
    width: 52px;
    text-align: center;
    color: #44362e;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.03);
    margin: 2.5%;
    border-radius: 50%;
    height: 52px;
	}

	.cell-detail-icon label {
		font-size: 0.6em;
		float: left;
		width: 100%;
	}

	.cell-detail-icon i {
	}



	.day-number-label {
		font-size: 12px;
		color: #533c49;
		float: left;
		margin: 4px;
		width: 100%;
	}


	.day-text-label {
		font-size: 12px;
		color: #412b37;
		float: left;
    position: absolute;
    right: 0;
    margin: 4px;
	}

	.payday-decal {
		top: 0;
		right: 0;
		display: block;
		float: left;
		position: absolute;
		margin: 6px;
	}

		.payday-decal label {
			font-size: 0.7em;
		}

		.small-currency {
			font-size: 11px;
			padding-right: 1px;
			color: #44362e;
		}

	.cell:nth-child(odd) {
	  background: rgba(0, 0, 0, 0.08);
	}

	.cell:nth-child(even) {
	  background: rgba(0, 0, 0, 0.3);
	}


	.month-wrapper:nth-child(even) .cell:nth-child(even) {
	  background: rgba(0, 0, 0, 0.08);
	}

	.month-wrapper:nth-child(even) .cell:nth-child(odd) {
	  background: rgba(0, 0, 0, 0.3);
	}

	.cell-wrapper {
		border-top: 1px solid #33261e;
    position: relative;
    z-index: 6;
	}

	  .cell:nth-child(7n + 1) {
	    clear: both;
	  }

    .month-wrapper .hatched-overlay {
      display: none;
    }

    .hatched-overlay {
	       background: repeating-linear-gradient( 45deg, #28252b, #1d1b1e 10px, #403944 10px, #342d37 20px);
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 3;
          opacity: 0.05;
    }

    .current-month .hatched-overlay {
      display: block;
    }

	  .scroll-x-container {
	    width: 15000px;
	    height: calc(100% - 64px);
	  }

		.smaller-calendar-wrapper {
			width: calc(100% - 322px) !important;
		}

		.summary-wrapper {
			padding: 16px;
			float: left;
		}

		.summary-item {
			letter-spacing: 1px;
			margin: 16px;
			float: left;
		}

		.stat {
			font-size: 32px;
			line-height: 22px;
			text-align: center;
			display: flex;
			color: #6f3a1f;
		}
		.small-stat {
			font-size: 12px;
			display: inline;
			color: #886d5d;
			float: left;
		}
		label {
			color: #635045;
		}


  	@media(max-height: 768px){

      .calendar-wrapper {
        margin-top: 0px;
      }

      .month-wrapper {
        width: 630px;
      }

      .cell {
        width: 90px;
        height: 90px;
      }

      .day-label {
        font-size: 0.7em;
        margin: 4px;
      }

      .cell-detail-icon {
        font-size: 0.8em;
        width: 35px;
        height: 35px;
      }

      .centered-item {
        margin-top: 4px;
      }

      .summary-item {
        font-size: 0.9em;
      }

  	}

  	@media(max-width: 768px){

      .summary-item {
        margin: 10px;
        font-size: 0.6em;
      }

      .calendar-wrapper {
        margin-top: 0px;
        width: 100%;
      }

  	}


</style>
