<template lang="html">
  <section class="month-wrapper">
    <!--
    <h2 class="parallax-header" >{{ dynamicMonthTitle }}</h2>

    <div class="cell-wrapper">
      <cell
        class="cell"
        v-for="day in dynamicMonthDays"
        v-bind:key="uniqueCellIdentifier(day)"
        v-bind:identifier="uniqueCellIdentifier(day)"
        v-bind:dayNumber="day"
       />
    </div>
  -->
  </section>
</template>

<script>
/*
import { mapGetters } 									from "vuex";

import $ 																from "jquery";
import moment 													from "moment";

import Cell 														from "./Cell.vue";

export default {
  components: {
    Cell
  },
  computed: {
    ...mapGetters([
      "calendarEvents",
      "calendarSpends",
			"paydayInfo",
    ]),
    dynamicMonthDays(){
      return moment().add(this.index, "months").daysInMonth();
    },
    dynamicMonthTitle(){
      return moment().add(this.index, "months").format("MMMM");
    },
    uniqueMonthIdentifier(){
      return moment().add(this.index, "months").format("YYYY-MM");
    }
  },
  props: [
    "index",
  ],
  methods: {
    uniqueCellIdentifier(dayInteger){
      return `cell-${this.uniqueMonthIdentifier}-${dayInteger}`;
    }
  }
}
*/
</script>

<style lang="css">
</style>
