<template lang="html">

<!--
	<div class="summary-wrapper" v-if="paydayInfo.amount || paydayInfo.day">
		<div class="summary-item"><div class="stat">{{ daysTillNextPayday }}<div class="small-stat">days</div></div><label>Until Payday</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">{{ moneyRemainingThisMonth }}</div><label>Remaining total</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">{{ moneyRemainingSplitByWeek }}</div><label>Budget per week</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">{{ moneyRemainingSplitByDay }}</div><label>Budget per day</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">{{ moneySpentThisMonth }}</div><label>Spent</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">54</div><label>Wishlist Items</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Bills this month</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">6</div><label>Urgent Meetings this month</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Fun things this month</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Go to Bed in 4 hours</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Wake up in 10 hours</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Weekend in 3 days</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Holiday in 6 days</label></div>
		<div class="summary-item"><div class="small-stat">£</div><div class="stat">2</div><label>Holiday in 6 days</label></div>


		<router-link to="/organiser/summary" tag="span" class="negative-nudge clickable-button"><div class="summary-item"><div class="stat"><i class="fa fa-eye" aria-hidden="true"></i></div><label>Summary</label></div></router-link>
	</div>-->
	<div></div>

</template>

<script>
/*
	import { mapActions, mapGetters } 	from "vuex";
	import moment 											from "moment";
	import helpersMixin 								from "../../helpers.js";

  export default {
		data(){
			return {
				isoDate: moment().format("YYYY-MM-D")
			}
		},
    computed: {
      ...mapGetters([
				"calendarEvents",
				"calendarSpends",
				"firebaseProfileId",
        "paydayInfo"
      ]),
			daysTillNextPayday(){
				let today = moment().format("D");
				return today < this.paydayInfo.day ? this.paydayInfo.day - today : today - this.paydayInfo.day;
			},
			moneyRemainingThisMonth(){
				return this.paydayInfo.amount - this.moneySpentThisMonth;
			},
			moneyRemainingSplitByWeek(){
				return Math.floor(this.moneyRemainingThisMonth / 4);
			},
			moneyRemainingSplitByDay(){
				return Math.floor(this.moneyRemainingSplitByWeek / 7);
			},
			moneySpentThisMonth(){
				if (!this.paydayInfo.day) return;

				let date = moment().format("YYYY-MM-D");

				let thisMonthFilteredSpends = helpersMixin.methods.filterArrayByIdentifier(this.calendarSpends, this.isoDate, "month", this.paydayInfo.day);

				if (thisMonthFilteredSpends.length < 1) return 0;
				else return helpersMixin.methods.reduceAllArrayAmounts(thisMonthFilteredSpends);
			}
    }
  }*/
</script>

<style lang="css">



</style>
