<template lang="html">

  <main class="summary-wrapper">
    <!--
    <header><h3>Wishlist</h3></header>
    <section class="income-section">
      <p>You've specified you get paid <input type="text" v-model="incomeAmount" /> on day number <input type="text" v-model="incomeDay" /></p>
      <button>Update</button>
    </section>
    <p>Learn french</p>
    <p>Buy computer</p>
    <p>Skate!</p>
    <h3>Ongoing recurring bills</h3>
    <p>Board</p>
    <p>Rent</p>
    <p>Credit card</p>
    <p></p>
    <p>The idea here is you log your life goals + bills which can be acted upon in a way ive not thought of yet!!</p>
    <router-link to="/organiser" tag="span">back</router-link>-->
  </main>
</template>

<script>
/*
import { mapActions, mapGetters } from "vuex";
export default {
  data(){
    return {
      incomeAmount: 0,
      incomeDay: 0
    }
  },
  computed: {
    ...mapGetters([
      "paydayInfo"
    ])
  },
  methods: {
    init(){
      this.incomeAmount = this.paydayInfo.amount;
      this.incomeDay = this.paydayInfo.day;
    }
  },
  mounted(){
    this.init();
  },
  watch: {

  }
}*/
</script>

<style lang="css">
  .summary-wrapper {
    float:left;
    margin: 16px;
    padding: 16px;
    background: rgba(0,0,0,0.4);
    width: calc(100% - 132px);
  }

</style>
