<template lang="html">
  <div>
    <!-- todo, add a pretty picture <div class="imge-block"></div>
    <div class="organiser-card">
      <div class="card-background">
        <img src="../../assets/img/butler.png">
      </div>
      <div class="card-contents">
        <h2>Organiser</h2>
        <h3>Greetings, I am your very own personalised Butler.</h3>
        <p>My role is to ensure that all your affairs are up to date, Master is meeting and exceeding his life goals, and also has lots to look forward to in the way of reminders, notifications, your own personalised diary, and automatic budget management.</p>
        <p>Initially I'll just need a small amount of data from you, in the way of financial information.</p>
        <section class="financial-form">
          <div class="form-question">
            <div class="radio-container col-left">
              <input type="radio" name="employment" id="radio-1" v-on:click="inEmployment(true)">
              <label for="radio-1"><span class="radio">Yes</span></label>
            </div>
            <div class="radio-container col-left">
              <input type="radio" name="employment" id="radio-2" v-on:click="inEmployment(false)" default>
              <label for="radio-2"><span class="radio">No</span></label>
            </div>
            <h3 class="question col-right">Are you in regular employment?</h3>
          </div>
          <div v-if="isInEmployment">
            <div class="form-question">
              <input type="number" placeholder="1" min="1" max="31" v-model="newPaydayDay" class="col-left">
              <h3 class="question col-right">What day of the month do you get paid on? </h3>
            </div>
            <div class="form-question">
              <input type="number" placeholder="1" min="0" v-model="newPaydayAmount" class="col-left">
              <h3 class="question col-right">And what's your average monthly wage amount?</h3>
            </div>
            <button type="button" name="button" v-on:click.prevent="submitPaydaySetupInfo">Ok!</button>
          </div>
        </section>
      </div>
    </div>-->
  </div>
</template>

<script>
/*
import { mapActions, mapGetters }  from "vuex";

export default {
  computed: {
    ...mapGetters([
      "dbInstance",
      "firebaseProfileId",
      "paydayInfo"
    ])
  },
  data(){
    return {
      isInEmployment: false,
      newPaydayDay: 1,
      newPaydayAmount: 1
    }
  },
  methods: {
    inEmployment(bool){
      this.isInEmployment = bool;
    },
    submitPaydaySetupInfo() {
      this.dbInstance.ref(`userWidgets/${this.firebaseProfileId}/paydayInfo`).set({
        amount: parseInt(this.newPaydayAmount),
        day: parseInt(this.newPaydayDay)
      });
      this.$router.push({
        name: "organiserInstallation"
      });
    }
  },
  mounted(){
    console.log(this.paydayInfo)
  }
}*/
</script>

<style lang="css">


  .card-background {
    position: absolute;
    right: 70px;
    bottom: 0;
    z-index: 1;
  }

  .card-background img{
    height: 300px;
  }


  .organiser-card {
    position: relative;
    margin: 32px;
    float: left;
    width: 50%;
    background: rgba(15, 9, 5, 0.39);
    box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
    border-radius: 28px;
    padding: 32px;
    color: rgba(113, 98, 113, 1);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .card-contents {
    z-index: 2;
    top: 0;
  }


  .organiser-card h2 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 16px;
    width: 35%;
  }

  .organiser-card h3 {
    font-weight: normal;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 4px;
    top: 16px;
    margin-bottom: 16px;
    width: 40%;
  }

  .organiser-card p {
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
  }



  .radio-container {
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
  }
  .radio-container label {
    position: relative;
  }

  /* Base styles for spans */
  .radio-container span::before,
  .radio-container span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  /* Radio buttons */
  .radio-container span.radio:hover {
    cursor: pointer;
  }
  .radio-container span.radio::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: #7d7282;
    border-radius: 50px;
  }
  .radio-container span.radio::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #5b5766;
    transition: left .25s, background-color .25s;
  }
  input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background: rgba(15, 9, 5, 0.39);
    box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
    border-radius: 28px;
    color: white;
  }

  /* Check-boxes */
  .radio-container span.checkbox::before {
    width: 27px;
    height: 27px;
    background-color: #fff;
    left: -35px;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: border-color .2s;
  }

  .radio-container span.checkbox:hover::before {
    border: 3px solid #F0FF76;
  }

  .radio-container span.checkbox::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    left: -31px;
    top: 2px;
    color: transparent;
    transition: color .2s;
  }

  input[type="checkbox"]:checked + label span.checkbox::after {
    color: #62AFFF;
  }

  .form-question {
    width: 100%;
    float: left;
  }

  h3.question {
    float: left;
    font-size: 20px;
  }

  .col-left {
    width: 15%;
    display:inline;
  }

  .col-right {
    width: 40%;
    display:inline;
  }

</style>
