<template lang="html">
  <modal name="organiser-configuration" @closed="removeURLFragment" :clickToClose="!isFirstRun" :height="'75%'" class="modal">
    <div class="glass"></div>
    <section class="pad scroll modal-content">
      <section v-if="isFirstRun" class="mb">
        <h2>Welcome to the organiser.</h2>
        <p>We need to know a little information about you first before you can use.</p>
      </section>
      <section>
        <h2>Edit Configuration</h2>
        <table>
          <tr>
            <td>Payday</td>
            <td><select class="pad"><option>Last Working Day of month</option></select></td>
          </tr>
          <tr>
            <td>Pay per annum</td>
            <td><input class="pad" v-model="pay"></td>
          </tr>
          <tr>
            <td>Mandatory Bills</td>
            <td>
              <table>
                <tr>
                  <td>Name</td>
                  <td>Cost</td>
                  <td>Due</td>
                  <td>Essential</td>
                  <td>Remove</td>
                </tr>
                <tr v-for="(bill, key) in bills" >
                  <td><input v-model="bill.name"></td>
                  <td><input v-model="bill.cost"></td>
                  <td><input type="date" v-model="bill.due"></td>
                  <td><input type="checkbox" v-model="bill.isEssential"></td>
                  <td @click="removeExtraRow(key)"><i class="fas fa-times"></i></td>
                </tr>
              </table>
              <button @click="addExtraRow"><i class="fas fa-plus-square"></i> Add...</button>
            </td>
          </tr>
        </table>
        <button @click="update" class="mt mb pad"><i class="fas fa-pencil-alt"></i> {{ updateButtonText }}</button>
      </section>
    </section>

  </modal>

</template>

<script>

import { mapActions, mapGetters } from "vuex";

import lastDayOfMonth from "date-fns/last_day_of_month";
import format from "date-fns/format";
import differenceInCalendarDays from "date-fns/difference_in_calendar_days";

export default {
  computed: {
    ...mapGetters([
      "organiserMeta",
    ]),
    monthlyGrossIncome(){
      return ( this.pay / 12 )
    },
    monthlyNetIncome(){
      return this.monthlyGrossIncome - ( this.monthlyGrossIncome * 0.31 )
    },
    paydayDistanceInDays(){
      return differenceInCalendarDays(this.nextPayDay, Date.now())
    },
    nextPayDayShort(){
      return format(this.nextPayDay, "DD/MM/YYYY")
    },
  },
  data(){
    return {
      pay: 0,
      extraRowCount: 0,
      isFirstRun: false,
      /*bills: [
        { name: "rent", cost: 680, isEssential: true },
        { name: "water", cost: 35, isEssential: true },
        { name: "eletricity", cost: 15, isEssential: true },
        { name: "council tax", cost: 110, isEssential: true },
        { name: "phone", cost: 15, isEssential: true },
        { name: "credit card", cost: 45, isEssential: true },
        { name: "overdraft", cost: 45, isEssential: true },
      ]*/
      bills: [],
      updateButtonText: "Update",
      nextPayDay: lastDayOfMonth(Date.now()),
      numEssentialBillsPaid: 0
    }
  },
  methods: {
    ...mapActions([
      "updateDB"
    ]),
    addExtraRow(){
      this.bills.push({ name: "", cost: 0, due: "", isEssential: false })
    },
    removeExtraRow(key){
      this.bills.splice(key, 1);
    },
    hasBeenPaid(bill, key){
      return differenceInCalendarDays(bill.due, Date.now()) <= 0 ? (this.bills[key].billPaid = true) : (this.bills[key].billPaid = false)
    },
    determineConfigMode(){
      if (!this.organiserMeta){
        this.isFirstRun = true;
        this.showModal();
      }
      else {
        if (document.location.search.indexOf("?config") > -1){
          this.$modal.show("configuration");
          this.isFirstRun = false;
        }
      }
    },
    parseDate(date){
      if (date){
        return new Date(date.seconds * 1000);
      }
    },
    showModal() {
      this.$router.push("/organiser?config");
      this.$modal.show("configuration");
    },
    hideModal(){
      this.$router.push("/organiser");
      this.$modal.hide("configuration");
    },
    async update(){
      this.updateButtonText = "Updating..."
      await this.updateDB({
        "dbName": "organiserMeta",
        "data": {
          "payPerAnnum": this.pay,
          "bills": this.bills
        }
      });
      this.updateButtonText = "Success!";
      setTimeout(() => {
        this.updateButtonText = "Update";
        if (!this.organiserMeta){
          this.hideModal();
        }
      }, 1250)
    },
    removeURLFragment(){
      this.$router.push("/organiser")
    },
    setMetaData(){
      console.log("setting....")
      if (this.organiserMeta){
        console.log("has meta....")
        this.pay = this.organiserMeta.payPerAnnum;
        this.bills = this.organiserMeta.bills;
        this.numEssentialBillsPaid = 0;
        console.log("running once...")
        this.bills.reduce((accumulator, currentVal) => {
          return currentVal.isEssential ? this.numEssentialBillsPaid++ : false;
        }, 0);
      }
    }
  },
  mounted(){
    this.determineConfigMode();
    this.setMetaData();
  },
  watch: {
    organiserMeta(){
      this.determineConfigMode();
      this.setMetaData();
    }
  }
}
</script>

<style>

  .tag-new {
    padding: 8px;
    background: rgba(162, 155, 237, 0.1);
    color: rgba(131, 122, 232, 0.8);
    border-radius: 16px;
    display: inline-block
  }

  .tag-new {
    padding: 8px;
    background: rgba(162, 155, 237, 0.1);
    color: rgba(131, 122, 232, 0.8);
    border-radius: 16px;
    display: inline-block
  }

  .scroll {
    height: 100%;
    overflow-y: scroll;
  }

</style>
