<template>
	<div>
		<header-bar></header-bar>
		<nav-bar class="nav-bar fill-height black mobile-nav" v-bind:class="sideBarStyle"></nav-bar>
		<router-view class="fill-height" v-bind:class="mainViewStyle"></router-view>
	</div>
</template>

<script>
/*
 * libs
 */
import { mapActions, mapGetters, mapState }						from "vuex";
import firebase																				from "firebase";
import dragscroll 																		from "dragscroll";
import $ 																							from "jquery";

/*

	REFACTOR IDEAS

	- Add database.ref() to be within the top-level vuex scope so it doesn't need to be imported by at component level. It can be abstracted away
	- Add a reusable method to 1) return true or false to whether a tag exists within the selectedTags array 2) returns a tree of elements that math those todoTags - DONE 11th DEC
	- Allow filtering by tag  - DONE 11th DEC
	- Allow searching by string
/*
 * components
 */
import Header 																				from "./Header.vue";
import Nav 																						from "./Nav.vue";

export default {
	name: "app",
	components: {
		"header-bar": Header,
		"nav-bar": Nav
	},
	computed: {
		...mapState([
			"firebaseProfileId",
			"googleClientId",
			"googleEndpoints",
			"googleScopes",
			"sideBarExpanded"
		]),
		sideBarStyle(){
			return {
				smallNavBar: this.sideBarExpanded
			}
		},
		mainViewStyle(){
			return {
				smallViewport: !this.sideBarExpanded
			}
		}
	},
	created(){
		this.initSideBarState();
		// expose vuejs methods to window object (because the google/facebook api will not play nicely due to its async nature)
		window.loadGoogleAPI = this.loadGoogleAPI;
	},
	methods: {
		initGoogleAPI(){
			gapi.client.init({
				discoveryDocs: this.googleEndpoints,
				clientId: this.googleClientId,
				scope: this.googleScopes
			}).then(() => {
				// Listen for sign-in state changes.
				gapi.auth2.getAuthInstance().isSignedIn.listen(this.updateLoggedInInfo);
				// Handle the initial sign-in state.
				this.updateLoggedInInfo(gapi.auth2.getAuthInstance().isSignedIn.get());
			});
		},
		initSideBarState(){
			this.$store.dispatch("initSideBarState");
		},
		loadGoogleAPI(){
			gapi.load('client:auth2', this.initGoogleAPI);
		},
		updateLoggedInInfo(isLoggedIn){
			if (isLoggedIn){
				this.$store.dispatch("logFirebaseUserIn", gapi.auth2.getAuthInstance().currentUser.get());
				this.$store.dispatch("changeCurrentUserInfo", gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile());
			}
			else {
				this.$store.dispatch("changeCurrentUserInfo", null);
				this.$store.dispatch("signInAsGuest");
			}
		}
	}
}
</script>

<style>
	html {
		margin: 0;
		padding: 0;
	}

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: 'Armata', sans-serif;
		color: #886d5d;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	  /*background: linear-gradient(180deg, #1c181b 0%, #1e1b1d 100%);*/
		background: url("../assets/img/back.jpg");
		background-position: cover;
		overflow: hidden;
}

	h1, h2, h3, h4, h5, h6, p, ul, li {
		margin: 0;
		padding: 0;
	}

	a {
		color: #e0b49a;
		text-decoration: none;
	}

	a:hover{
		color: #81553b;
	}

	.black {
		background: #110f13;
	}

	.fill-height {
		height: calc(100vh - 64px);
	}

	.nav-bar {
		float:left;
		width: 128px;
		transition: all 0.1s;
		transition-timing-function: ease-out;
		border-right: 1px solid #342e3c;
	}

	.nav-bar li{
		opacity: 1;
		transition: all 1.6s;
		transition-timing-function: ease-in;
		width: 0px;
	}

	.main-view {
		width: calc(100% - 256px);
		float: left;
	}

	.smallNavBar {
		width: 64px;
		transition: all 0.3s;
	}

	.smallNavBar .big-nav-icon {
		padding-left:16px;
		transition: all 0.7s;
	}


	.smallNavBar li{
		display: none;
	}


  .smallViewport .calendar-wrapper {
    float: left;
    width: calc(100% - 129px);
  }
	.router-link {
		float:left;
		width: calc(100% - 4px);
		outline: none;
		display: inline-block;
		padding-left: 4px;
		padding-top: 8px;
		line-height: 40px;
		vertical-align: middle;
	}
	.router-link i{
		width: 24px;
		font-size: 24px;
	}
	.router-link-active{
		background: rgb(30, 28, 33);
		color: #81553b;
	}

	.sidebar-toggle-position:hover,  .router-link:hover{
		cursor: pointer;
	}

	::-webkit-scrollbar {
	  width: 9px;
	  height: 9px;
	}
	::-webkit-scrollbar-button {
	  width: 0px;
	  height: 0px;
	}
	::-webkit-scrollbar-thumb {
	  background: rgb(16, 14, 15);
	  border: none;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: rgb(16, 13, 20);
	}
	::-webkit-scrollbar-thumb:active {
	  background: rgb(16, 13, 20);
	}
	::-webkit-scrollbar-track {
	  background: rgba(0,0,0,0.25);
	  border: 0px none #ffffff;
	  border-radius: 16px;

	}
	::-webkit-scrollbar-track:hover {
	  background: rgba(0,0,0,0.2);
	}
	::-webkit-scrollbar-track:active {
	  background: rgba(0,0,0,0.35);
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}

	.sticky-form {
		width: 256px;
		background: #151417;
		border-right: 1px solid #211e25;
		float: left;
		font-family: 'Armata', sans-serif;
	}

	.sticky-form button {
		outline: none;
		background: #0d0c0e;
		border: none;
		border-bottom: 1px solid #1b1a20;
		line-height: 48px;
		color: rgba(255, 255, 255, 0.9);
		font-size: 14px;
		text-align: center;
		vertical-align: center;
		box-shadow: inset 0px 0px 30px 0px #08070a;
		float: left;
		font-family: 'Armata', sans-serif;
		text-transform: uppercase;
		transition: 0.4s all;
	}


	.sticky-form button:hover {
		cursor: pointer;
		opacity: 0.9;
		box-shadow: inset 0px 0px 30px 1px #0b0a0e;
	}

	.sticky-form textarea {
		resize: none;
		width: calc(100% - 16px);
		height: calc(100% - 64px);
		background: rgba(0,0,0,0.4);
		outline: none;
		border: none;
		color: rgba(255, 255, 255, 1);
		font-family: 'Armata', sans-serif;
		font-size: 12px;
		padding: 8px;
	}

	.sticky-form select {
		font-family: 'Armata', sans-serif;
	}

	.sticky-form .option  {
		float: left;
		font-size: 10px;
		width: 100%;
	}

  .tab-toggle-button button{
    font-size: 10px;
    border-color: rgb(87, 68, 107);
    color: rgb(156, 154, 152);
    width: 50%;
		opacity: 0.2;
  }
  .tab-toggle-button button:hover {
    cursor: pointer;
		opacity: 0.2;

  }

  .tab-toggle-button button[disabled="disabled"] {
		opacity: 1;
  }

	.row {
		width: 100%;
		float: left;
	}


	.col-fill-remainder {
		width: auto;
		float: left;
	}

	.col-sixteenth {
		width: 6.25%;
		float: left;
	}

	.col-eigth {
		width: 12.5%;
		float: left;
	}

	.col-25 {
		width: 25%;
		float: left;
	}

	.col-50 {
		width: 50%;
		float: left;
	}

	.col-75 {
		width: 75%;
		float: left;
	}

	.col-100 {
		width: 100%;
		float: left;
	}

	@media(max-width: 768px){

		.hide-on-mobile {
			display: none;
		}

		.mobile-nav {
			display:none;
		}

    .sticky-form {
      width: 100%;
      position: absolute;
    }

	}


</style>
