<template lang="html">
  <section class="breadcrumb">
    <span class="breadcrumb-item">home</span> > <span class="breadcrumb-item">search</span>
  </section>
</template>

<script>

  export default {

  };

</script>

<style lang="css">

  .breadcrumb {
    background: rgba(0,0,0,0.1);
    padding: 16px;
    display: flex;

  }

  .breadcrumb-item {
    padding: 16px;
    border-right: 1px solid black;
  }

  .breadcrumb-item:nth-child(odd) {
    border-right: 1px solid black;
    background: rgba(0,0,0,0.3);

  }
</style>
