<template lang="html" >
 	<header class="toolbar">

  <nuxt-link to="/" class="homepage-link">
		<section class="site-logo">
			<img src="~static/img/logo.png" class="fill-height-toolbar-icon">
		</section>
		<section class="site-name">
			<span class="colour-1">Spring</span>
			<span class="colour-2">board</span>
		</section>
  </nuxt-link>
		<!--<section class="active-statistics">
			<figure v-if="activeTodos">
				<span class="stat-number">{{ activeTodos }}</span>
				<span class="stat-label" v-if="activeTodos == 1">Todo</span>
				<span class="stat-label" v-if="activeTodos > 1">Todos</span>
			</figure>
		</section>-->
		<section class="user-management">
      <nuxt-link to="/settings">
        <div class="settings">
          <i data-eva="options"></i>
        </div>
      </nuxt-link>
      <section class="login-status" v-on:click="toggleLogin">
        <span class="username">{{ displayName }}</span>
        <img v-bind:src="avatarURL" class="fill-height-toolbar-icon"  />
      </section>

		</section>
    <!--
    <section class="mobile-menu">
      <div class="mobile-menu-invoker">
		  	<i class="fa fa-bars" aria-hidden="true" v-if="!isShowingMobileMenu" v-on:click="toggleMobileMenu"></i>
			  <i class="fa fa-times" aria-hidden="true" v-if="isShowingMobileMenu" v-on:click="toggleMobileMenu"></i>
      </div>
      <div class="mobile-menu-contents" v-if="isShowingMobileMenu">
        <section class="user-management" v-on:click="toggleSignIn">
    			<span class="username">{{ getShortDisplayName }}</span>
    			<img v-bind:src="getAvatarUrl" class="fill-height-toolbar-icon">
    		</section>
        <ul>
          <router-link class="router-link" to="/todo">
            <i class="fa fa-check-square-o big-nav-icon" aria-hidden="true"></i>
            <li v-on:click="toggleMobileMenu">Todo</li>
          </router-link>
          <router-link class="router-link" to="/feed">
            <i class="fa fa-rss big-nav-icon" aria-hidden="true"></i>
            <li v-on:click="toggleMobileMenu">Feed</li>
          </router-link>
          <router-link class="router-link" to="/calendar">
            <i class="fa fa-calendar-check-o big-nav-icon" aria-hidden="true"></i>
            <li v-on:click="toggleMobileMenu">Calendar</li>
          </router-link>
        </ul>

      </div>
    </section>
  -->
	</header>
</template>

<script>

import * as eva from "eva-icons";
import { mapActions, mapGetters, mapState } from "vuex";

export default {
	computed: {
		...mapGetters([
      "avatarURL",
      "displayName",
			"isGuest",
		]),
  },
	methods: {
    ...mapActions([
      "login",
      "logout"
    ]),
		toggleLogin(){
			this.isGuest ? this.login() : this.logout();
		},
	},
  mounted(){
    eva.replace();
  }
}

</script>

<style>
	.toolbar {
		width: 100%;
		background: #110f13;
		color: #6f3a1f;
		height: 64px;
		display: inline-block;
		border-bottom: 1px solid #342e3c;
    position: fixed;
    z-index: 9999;
	}

	.site-logo {
    padding-left: 8px;
    padding-right: 8px;
    opacity: 0.7;
	}

	.fill-height-toolbar-icon {
    display: inline-block;
		height: 64px;
	}

	.site-name, .site-logo, .active-statistics, .settings svg, .login-status{
    display: inline-block;
		vertical-align: middle;
		line-height: 64px;
    height: 64px;
	}

  .site-logo img {
    height: 52px;
    padding-top: 8px;
  }

  .username {
    margin-right: 80px;
    line-height: 64px;
    height: 64px;
	}

  .colour-2 {
    margin-left: -7px;
    color: #886d5d;
  }

  .user-management {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }


  .login-status {
    position: absolute;
    top: 0;
    right: 0;
  }

  .login-status:hover, .settings:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .login-status img {
    position: absolute;
    right: 0;
  }

    .user-management {
      min-width:164px;
    }

    .settings svg {
      fill:#802A3B;
      margin-right: 3px;
    }



/*


  .homepage-link {
    font-size: 0px;
  }

*/

    /*

	.mobile-menu-invoker {
		font-size: 3em;
	}

	.active-statistics {
		margin-left: 64px;
	}

	.stat-number {
		font-size: 1.8em;
	}

	.stat-label {
		color: rgba(255,255,255,0.4);
		font-size: 0.8em;
	}

	.active-statistics figure {
		padding: 0;
		margin: 0;
	}




/*


	.user-management:hover {
		opacity: 0.9;
		cursor: pointer;
	}

  .mobile-menu {
    display: none;
  }

  .settings {
    font-size: 26px;
    padding-right: 16px;
    line-height: 64px;
    fill:white;
  }

  .settings svg {
    fill:white;
    margin-right: 80px;
  }


  @media(max-width: 768px){
	 .active-statistics {
		 margin-left: 25px;
	 }
  .site-name {
    display: none;
  }
  .user-management {
    display: none;
  }
	.mobile-menu-contents .user-management {
	  display: block;
	  float: right;
	  margin-bottom: 32px;
	}
	.router-link {
		line-height: 100px;
	}
  .mobile-menu {
    display: block;
  }

	.mobile-menu-contents {
		position: absolute;
		background: rgba(0,0,0,0.98);
		color: white;
		z-index: 600;
		width: 70%;
		height: 100vh;
    padding-top: 10%;
		padding-left: 10%;
		padding-right: 20%;
		padding-bottom: 10%;
		text-align: right;
		font-size: 2em;
	}

	.mobile-menu-invoker {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 16px;
		z-index: 1000;
	}

	.router-link-active{
		background: rgba(255,255,255,0);
	}

  }

  @media(max-width: 512px){

     .active-statistics {
       margin-left: 0px;
     }

   }
*/
</style>
