<template lang="html">
	<nav class="sidebar">
		<nuxt-link to="/todo" class="router-link" tooltip="Todo"><i data-eva="checkmark-square-2-outline"></i></nuxt-link>
		<!--
		<router-link class="router-link" to="/code" tooltip="Code">
			<i class="fa fa-code big-nav-icon" aria-hidden="true"></i>
		</router-link>
		<router-link class="router-link" to="/contacts" tooltip="Contacts">
			<i class="fa fa-comment big-nav-icon" aria-hidden="true"></i>
		</router-link>
		<router-link class="router-link" to="/feed" tooltip="Feed">
			<i class="fa fa-rss big-nav-icon" aria-hidden="true"></i>
		</router-link>
		<router-link class="router-link" to="/organiser" tooltip="Organiser">
			<i class="fa fa-calendar-check big-nav-icon" aria-hidden="true"></i>
		</router-link>
		<router-link class="router-link" to="/todo" tooltip="Todo">
			<i class="fa fa-hammer big-nav-icon" aria-hidden="true"></i>
		</router-link>
		<router-link class="router-link" to="/settings" tooltip="Settings">
			<i class="fa fa-cogs big-nav-icon" aria-hidden="true"></i>
		</router-link>-->
	</nav>
</template>

<script>

import * as eva from "eva-icons";

import { mapActions, mapGetters, mapState } from "vuex";
export default {
	mounted(){
		eva.replace();
	}
}

</script>

<style>

	ul {
		width: 100%;
		float:left;
		display: block;
	}
	li {
		list-style-type: none;
		display:inline-block;
	}

	li i {
		display: block;
	}

	.sidebar-toggle-position {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 8px;
		font-size: 32px;
	}

	.sidebar {
		width: 64px;
		height: 100vh;
		background: black;
		position: fixed;
		top: 64px;
		left: 0;
		z-index: 888;
	}

	.sidebar a {
		text-align: center;
		width: 100%;
		display: inline-block;
		margin-bottom: 8px;
		margin-top: 16px;
		position: relative;
		fill: #802A3B;
	}

	.sidebar svg {
		transform: scale(1.5);
	}

	.sidebar a path{
		filter: blur(0);
		transition: 0.1s all;
	}

	.sidebar:hover a:not(:hover) path {
		filter: blur(1px);
		color: #824455;
		fill: #824455;
	}








</style>
