<template lang="html">
  <div>
    <h4>Code</h4>
    <!--
    <section class="discoverer">
      <h3>Discoverer</h3>
      <section class="links-listing">
        <li v-for="link in links"><a v-bind:href="link">{{ link }}</a></li>
      </section>
      <section class="iframe">

      </section>
    </section>-->
  </div>
</template>

<script>
/*
import Chance from "chance";
export default {
  data(){
    return {
      links: [],
      chance: new Chance()
    }
  },
  mounted(){
    this.generateLinks();
  },
  methods: {
    generateLinks(){
      for (let i = 0; i < 11; i++){
        this.links.push(`http://${chance.word()}.com`);
      }
    }
  }
}*/

</script>

<style lang="css">
  .links-listing {
    width: 50;
  }
  .links-listing li {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid black;
  }


</style>
