<template>
  <div>
    <header-bar />
    <side-bar />
    <nuxt class="app-view" />
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

import HeaderBar from "~/components/Header.vue";
import SideBar from "~/components/SideBar.vue";

export default {
  methods: {
    ...mapActions([
      "determineSignInState"
    ])
  },
  created(){
    this.determineSignInState();
  },
  components: {
    "header-bar": HeaderBar,
    "side-bar": SideBar,
  }
}
</script>


<style>

  :root {
    --r: 129;
    --g: 80;
    --b: 51;
  }

  @font-face {
      font-family: "dank";
      src: url("~static/fonts/dank.woff2") format("woff2"),
           url("~static/fonts/dank.woff") format("woff");
      font-weight: normal;
      font-style: normal;
  }

  html {
    box-sizing: border-box;
    font-family: "dank";
    font-size: 18px;
  }

  body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #886d5d;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	  /*background: linear-gradient(180deg, #1c181b 0%, #1e1b1d 100%);*/
		background: url("~static/img/back.jpg");
		background-position: cover;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }

  table, input, select, button {
    width: 100%;
  }

  a {
    color: #802A3B;
    text-decoration: none;
    text-shadow: 3px 6px #272634;
    display: inline-block;
  }

  a:hover {
    color: #d97a96;
  }

  h1 {/*
    color: rgba(255,255,255,0.88);*/
    font-size: 32px;
  }

  select {
    background: rgb(136, 109, 93);
    border: 0px;
    outline: none;
    color: white;
    font-family: "dank";
  }

  input {
    background: black;
    border: 0px;
    color: white;
    font-family: "dank";
  }

  button {
    border: 0px;
    font-family: "dank";
    font-size: 18px;
    padding: 8px;
    background: #3E162E;
    box-shadow: 0px 0px 16px 0px #320a22 inset;
    color: #98798B;
    transition: all 0.3s;
    opacity: 1;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  button label{
    vertical-align: top;
    margin-top: 0px !important;
  }

  .homepage-ctas {
    display: flex;
  }

  .cta-box {
    display: inline-block;
    width: 256px;
    height: 256px;
    padding: 64px;
    background: rgba(0,0,0,0.33);
    border-radius: 12px;
    position: relative;
    text-align: center;
    font-size: 28px;
    margin: 8px;
  }

  .cta-option img {
    width: 100%;

  }

  .pad {
    padding: 16px;
  }

  .mt {
    margin-top: 16px;
  }

  .mb {
    margin-bottom: 16px;
  }

  .ml {
    margin-left: 16px;
  }

  .mr {
    margin-right: 16px;
  }

  .app-view {
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    margin-top: 64px;
    display: inline-block;
    margin: 64px 0 0 64px;
  }

  .row {
    width: 100%;
    display: inline-block;
  }

  .check {
  	position: relative;
  	background: linear-gradient(90deg, #f19af3, #f099b5);
  	line-height: 0;
  	-webkit-perspective: 400px;
  	        perspective: 400px;
  }

  .check input[type="checkbox"],
  .check label,
  .check label::before,
  .check label::after,
  .check {
  	-webkit-appearance: none;
  	   -moz-appearance: none;
  	        appearance: none;
  	display: inline-block;
  	border-radius: 1rem;
  	border: 0;
  	transition: .35s ease-in-out;
  	box-sizing: border-box;
  	cursor: pointer;
  }

  .check label {
  	width: 64px;
  	height: 32px;
  	background: #d7d7d7;
  	overflow: hidden;
  }

  .check input[type="checkbox"] {
  	position: absolute;
  	z-index: 1;
  	width: 24px;
  	height: 24px;
  	top: 4px;
  	left: 4px;
  	background: linear-gradient(45deg, #dedede, #ffffff);
  	box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  	outline: none;
  }

  .check input[type="checkbox"]:checked {
  	left: 34px;
  }

  .check input[type="checkbox"]:checked + label {
  	background: transparent;
  }

  .inline {
    display: inline;
  }

  .center {
    text-align: center;
  }

  .w100 {
    width: 100%;
  }

  .w75 {
    width: 75%;
  }

  .w50 {
    width: 50%;
  }

  .w25 {
    width: 25%;
  }

  .smaller {
    transform: scale(0.6);
    left: -12px;
  }

  .larger {
    transform: scale(0.3);
  }

  .absolute-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 128px;
    height: 100%;
    font-size: 14px;
  }

  .relative {
    position: relative;
  }

  .v--modal-overlay {
    background-color: rgba(0,0,0,0.33) !important;
  }

  .v--modal {
    background-color: rgba(0,0,0,0.85) !important;
  }

  .modal-inner {
    text-align: center;
  }

  .modal-inner textarea {
    background: #0d0d0e;
    color: #c99679;
    outline: 0;
    border: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
    resize: none;
    height: 12.5vh;
    padding: 16px;
    font-size: 20px;
    font-family: "dank";
    border-bottom: 1px solid rgba(224, 180, 154, 0.15);
    text-align: center;
    resize: vertical;
  }

  /*
  .modal-inner h1 {
    color: #e0b49a;
  }*/

  .modal-inner h1 {
    color: #815033;
  }


  .modal-inner button {
    margin-top: 16px;
    background: #802A3B;
    width: 25%;
  }

  .notification-prompt {
    padding: 16px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    line-height: 12px;
  }

  .option {
    font-size: 0.78em;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    fill: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
    padding: 8px;
    margin-right: 16px;
    display: inline-block;
  }

  .option label {
    vertical-align: top;
    margin-left: 4px;
    margin-top: 4px;
    display: inline-block;
  }

  .option svg {
  }

  .option:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .nuxt-link-exact-active {
    color: #a23353 !important;
  }

  .modal {
    position: relative;
  }

  .relative {
    position: relative;
  }

	::-webkit-scrollbar {
	  width: 9px;
	  height: 9px;
	}

	::-webkit-scrollbar-button {
	  width: 0px;
	  height: 0px;
	}

	::-webkit-scrollbar-thumb {
	  background: rgb(16, 14, 15);
	  border: none;
	  border-radius: 50px;
	}

	::-webkit-scrollbar-thumb:hover {
	  background: rgb(16, 13, 20);
	}

	::-webkit-scrollbar-thumb:active {
	  background: rgb(16, 13, 20);
	}

	::-webkit-scrollbar-track {
	  background: rgba(0,0,0,0.25);
	  border: 0px none #ffffff;
	  border-radius: 16px;

	}
	::-webkit-scrollbar-track:hover {
	  background: rgba(0,0,0,0.2);
	}

	::-webkit-scrollbar-track:active {
	  background: rgba(0,0,0,0.35);
	}

	::-webkit-scrollbar-corner {
	  background: transparent;
	}

  [tooltip] {
    position: relative;
    z-index: 999;
  }

  [tooltip]::before,
  [tooltip]::after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0,0,0);
    transition: all .1s ease-in-out;
    margin-left:56px;
    margin-top: -4px;
  }

  [tooltip]::after {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 8px solid rgba(0,0,0,.75);
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: -8px;
    top: 0;
  }

  [tooltip]::before {
    background: rgba(0,0,0,.75);
    border-radius: 2px;
    color: #fff;
    content: attr(tooltip);
    font-size: 14px;
    padding: 6px 10px;
    white-space: nowrap;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  [tooltip]:hover::after,
  [tooltip]:hover::before {
    opacity: 1;
    transform: translate3d(16px,0,0);
  }


 .tag {
   margin-right: 4px;
   margin-top: 7px;
   background: rgba(255,255,255,0.1);
   color: white;
   border-radius: 8px;
   padding: 4px;
   font-size: 9px;
 }

 .tag:hover {
   cursor: pointer;
   opacity: 0.75;
 }

   .tag-selected {
     background: rgba(var(--r), var(--g), var(--b), 0.5);
   }


    @media (max-width: 600px){
      .sidebar {
        display: none;
      }
      .app-view {
        width: 100%;
        margin: 0;
      }
    }


</style>
