<template lang="html">
  <section class="homepage-ctas pad">
    <nuxt-link to="/todo" class="cta-box">
      <div class="cta-option">
        <img src="~/static/img/bridge.png" />
        <label>Todo</label>
      </div>
    </nuxt-link>
    <nuxt-link to="/settings" class="cta-box">
      <div class="cta-option">
        <img src="~/static/img/village.png" />
        <label>Settings</label>
      </div>
    </nuxt-link>
    <!--<nuxt-link to="/organiser" class="cta-box">
      <div class="cta-option">
        <img src="~/static/img/cape.png" />
        <label>Organiser</label>
      </div>
    </nuxt-link>
    <nuxt-link to="/contacts" class="cta-box">
      <div class="cta-option">
        <img src="~/static/img/mountains.png" />
        <label>Contacts</label>
      </div>
    </nuxt-link>
    <nuxt-link to="/code" class="cta-box">
      <div class="cta-option">
        <img src="~/static/img/sea.png" />
        <label>Code</label>
      </div>
    </nuxt-link>
    -->
  </section>
</template>

<script>
</script>

<style>

</style>
