<template lang="html">
  <div class="pad settings-wrapper">
    <header class="row"><h1>SETTINGS</h1></header>
    <!-- TODO - MAKE THIS LOOK PRETTY -->
    <section>
      <div>
        <p>Currently logged in as {{displayName}}</p>
      </div>
      <div>
        <p>Using default skin.</p>
      </div>
    </section>

    <section>
      <table class="w100">
        <tr>
          <td class="w50">
            <h3>Todo</h3>
          </td>
          <td>
            <div class="check">
              <input id="todo-enabled" type="checkbox" checked>
              <label for="todo-enabled"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="w50">
            <p>Sync with Google calendar?</p>
          </td>
          <td>
            <div class="check smaller">
              <input id="google-calendar-sync-enabled" type="checkbox" checked>
              <label for="google-calendar-sync-enabled"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="w50">
            <p>Encrypt Todos?</p>
          </td>
          <td>
            <div class="check smaller">
              <input id="encrypt-todos-enabled" type="checkbox" checked>
              <label for="encrypt-todos-enabled"></label>
            </div>
          </td>
        </tr>
        <tr class="encryption-key-section">
          <td>
            <label for="newEncryptionKeyphrase">Your Encryption key. Keep Safe!!!</label>
          </td>
          <td class="relative">
            <input placeholder="Encryption key" class="pad" v-model="newEncryptionKeyphrase" id="newEncryptionKeyphrase" @keyup="handleKeyButton" @keyup.enter="setNewEncryptionKeyphrase" />
            <button v-if="hasKeyUpdated" class="absolute-button" @click="setNewEncryptionKeyphrase">  {{ updateKeyText }}</button>
          </td>
        </tr>
      </table>

    </section>
    <section>
      <table class="w100">
        <tr>
          <td class="w50">
            <h3>Feed</h3>
          </td>
          <td>
            <div class="check">
              <input id="feed-enabled" type="checkbox">
              <label for="feed-enabled"></label>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <section>
      <table class="w100">
        <tr>
          <td class="w50">
            <h3>Organiser</h3>
          </td>
          <td>
            <div class="check">
              <input id="organiser-enabled" type="checkbox">
              <label for="organiser-enabled"></label>
            </div>
          </td>
        </tr>
      </table>
    </section>
  </div>
</template>

<script>

import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters([
      "displayName",
      "encryptionKeyphrase",
      "userId"
    ])
  },
  data(){
    return {
      newEncryptionKeyphrase: null,
      hasKeyUpdated: false,
      updateKeyText: "Update Key",
    }
  },
  methods: {
    ...mapActions([
      "getEncryptionKeyphrase"
    ]),
    handleKeyButton(){
      if (this.newEncryptionKeyphrase){
        this.hasKeyUpdated = true;
        this.updateKeyText = "Update Key";
      }
      else {
        this.hasKeyUpdated = false;
      }
    },
    setNewEncryptionKeyphrase(){
      if (this.newEncryptionKeyphrase){
        this.updateKeyText = "Saving...";
        localStorage.setItem("springboard_e", JSON.stringify({
          [this.userId]: this.newEncryptionKeyphrase
        }));
        this.getEncryptionKeyphrase();
        setTimeout(() => {
          this.updateKeyText = "Done!";
        }, 600);
        setTimeout(() => {
          this.hasKeyUpdated = false;
        }, 1200);
      }
    },
    setLocalState(){
      if (this.encryptionKeyphrase){
        this.newEncryptionKeyphrase = this.encryptionKeyphrase
      }
    }
  },
  mounted(){
    this.setLocalState();
  },
  watch: {
    encryptionKeyphrase(){
      this.setLocalState();
    }
  }
}

</script>

<style lang="css">


  .settings-wrapper {
    background: rgba(0,0,0,0.4);
    width: calc(100% - 64px);
  }

  .settings-wrapper h1, .settings-wrapper h2, .settings-wrapper h3 {
    color: white;
  }

  .settings-wrapper input {
    border-radius: 4px;
    background: rgba(0,0,0,0.4);
  }




</style>
