<template lang="html">
  <div class="">
    <!--
    <i class="fa fa-times close-interaction-wrapper" aria-hidden="true" v-on:click="hideFeedManager"></i>

    <section class="relative-form">

      <form class="new-content-form">
        <i class="fa fa-plus add-new-content-icon" aria-hidden="true" v-on:click="addSource"></i>
        <h5 class="inline-header">Add new news source</h5>
        <input type="text" placeholder="Site Title" v-model="newFeedSourceTitle" />
        <input type="text" placeholder="Feed URL"  v-model="newFeedSourceUrl" />
      </form>

      <div v-if="feedSources.length" class="existing-items">

        <h5>Current Sources:</h5>
				<ol>
					<li v-for="source in feedSources">
						<label>{{ source.title }}</label>
            <label>{{ source.url }}</label>
            <span class="delete-item" v-on:click="deleteItem('Events', events)" >x</span>
					</li>
          Total:{{ feedSources.length }}
				</ol>
      </div>

    </section>-->
  </div>
</template>

<script>
/*
import $ from "jquery";
//import helpersMixin from "../../helpers.js";

import { mapGetters } from "vuex";

import instance from "../../config/firebaseConfig.js";
const database = instance.database();

export default {
	computed: {
    ...mapGetters([
      "firebaseProfileId",
      "feedSources",
      "isFeedManagerShown",
    ])
  },
  data(){
    return {
      newFeedSourceTitle: "",
      newFeedSourceUrl: ""
    }
  },
  methods: {
    hideFeedManager(){
      if (this.isFeedManagerShown) this.$store.dispatch("toggleIsFeedManagerShown");
    },
    addSource() {
      if (!this.newFeedSourceTitle || !this.newFeedSourceUrl) {
        console.log("WARN")
      }
      else {
        this.pushToFirebase();
        this.clearForm();
      }
    },
		clearForm() {
			this.newFeedSourceTitle = "";
      this.newFeedSourceUrl = "";
		},
    pushToFirebase(){
      database.ref("userWidgets/" + this.firebaseProfileId + "/feedSources").push({
        title: this.newFeedSourceTitle,
        url: this.newFeedSourceUrl
      });
    },
  }
}*/
</script>

<style lang="css">


  .relative-form {
    position: relative;
  }

</style>
