<template lang="html">
  <section class="float">

		<!-- controls to show/hide feed manager -->
		<div class="toggle-options"></div>
	     <!-- form show/hide
	    <div class="toggle-option-button" v-if="isFeedManagerShown" v-on:click="toggleIsFeedManagerShown">
	       <i class="fa fa-square-o" aria-hidden="true"></i> Hide Form
	     </div>
      <div class="toggle-option-button" v-if="!isFeedManagerShown" v-on:click="toggleIsFeedManagerShown">
        <i class="fa fa-refresh" aria-hidden="true"></i> Show Form
      </div>
		</div>

    <feed-manager class="sticky-form fill-height" v-show="isFeedManagerShown" />

    <feed-item v-if="feedSources.length" v-for="(source, index) in feedSources" v-bind:key="createFeedKey(index)" v-bind:feedItem="source" />
-->
  </section>
</template>

<script>
/*

import { mapActions, mapGetters }               from "vuex";

import helpersMixin 								            from "../../helpers.js";

import instance 										            from "../../config/firebaseConfig.js";
const database                                  = instance.database();

import FeedManager                              from "./FeedManager.vue";
import FeedItem                                 from "./FeedItem.vue";

export default {
	components: {
		"feed-manager": FeedManager,
    "feed-item": FeedItem
	},
	computed: {
		...mapGetters([
      "feedSources",
			"firebaseProfileId",
      "isFeedBound",
      "isFeedManagerShown"
		]),
	},
  methods: {
    ...mapActions([
      "bindFirebaseFeed",
      "setIsFeedBound"
    ]),
    createFeedKey(index){
      return `feedKey${index}`
    },
    init() {
      if (!this.firebaseProfileId) return;
      this.bindFirebaseFeed();
      this.setIsFeedBound(true);
		},
    toggleIsFeedManagerShown(){
      this.$store.dispatch("toggleIsFeedManagerShown");
    }
  },
  mounted() {
    if (!this.isFeedBound){
      this.init();
    }
  },
  watch: {
    firebaseProfileId() {
      this.init();
    }
  }

}*/
</script>

<style lang="css">
</style>
