<template lang="html">
  <div class="loading">
    <i class="fa fa-spinner rotate" aria-hidden="true"></i> Loading...
  </div>
</template>

<script>

import { mapGetters, mapState } from "vuex";

export default {
}
</script>

<style lang="css">
  .rotate {
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
      from {transform: rotate(0deg);}
      to   {transform: rotate(359deg);}
  }
</style>
