<template lang="html">
  <section class="pad">
    <todo-options />
    <todo-modal />
    <todo-items />
    <!-- add new todo form-->
    <!--<todo-form />-->
		<!-- controls to toggle between archived & current todos
    <todo-options />-->
    <!-- finally the todo's themselves
		<div class="grid todos-container" v-bind:class="{ 'full-todos-container': !isTodoFormExpanded, 'small-todos-container': isTodoFormExpanded }">-->
      <!-- all current todos
      <todo-item
			  v-if="isViewingAllTodos && isViewingCurrentTodos"
        v-for="(item, index) in allCurrentTodos"
        v-bind:class="{ 'grid': isViewingGrid, 'list': !isViewingGrid }"
				v-bind:item="item"
				v-bind:index="index"
        v-bind:key="item['.key']"
				type="current"
        class="todo-item"
			/> -->

      <!-- filtered current todos
      <todo-item
        v-if="!isViewingAllTodos && isViewingCurrentTodos"
        v-for="(item, index) in filteredCurrentTodos"
        v-bind:class="{ 'grid': isViewingGrid, 'list': !isViewingGrid }"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item['.key']"
        type="current"
        class="todo-item"
      />-->

      <!-- all archived todos
      <todo-item
        v-if="isViewingAllTodos && !isViewingCurrentTodos"
        v-for="(item, index) in allArchivedTodos"
        v-bind:class="{ 'grid': isViewingGrid, 'list': !isViewingGrid }"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item['.key']"
        type="archived"
        class="todo-item"
      />-->

      <!-- filtered archived todos
      <todo-item
        v-if="!isViewingAllTodos && !isViewingCurrentTodos"
        v-for="(item, index) in filteredArchivedTodos"
        v-bind:class="{ 'grid': isViewingGrid, 'list': !isViewingGrid }"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item['.key']"
        type="archived"
        class="todo-item"
      /> -->

      <!-- helper message
      <span class="intro-message" v-if="!allCurrentTodos && firebaseProfileId">
        <p>Nothing here :D</p>
        <p>Please click 'Show Form' and get typing!</p>
      </span>-->

      <!-- pending operation message
      <loading-component v-if="!this.firebaseProfileId" />-->
		<!--</div>-->

	</section>
</template>

<script>
import { mapActions, mapGetters, mapState }   from "vuex";

import TodoItems                               from "~/components/Todo/TodoItems.vue";
import TodoForm                                from "~/components/Todo/TodoForm.vue";
import TodoOptions                             from "~/components/Todo/TodoOptions.vue";
import TodoModal                               from "~/components/Todo/TodoModal.vue";

export default {
	components: {
    "todo-items": TodoItems,
    "todo-form": TodoForm,
    "todo-options": TodoOptions,
    "todo-modal": TodoModal,
	}
  /*
	computed: {
		...mapGetters([
      "allArchivedTodos",
      "allCurrentTodos",
      "filteredCurrentTodos",
      "filteredArchivedTodos",
      "firebaseProfileId",
      "isTodoFormExpanded",
      "isTodoBound",
      "isViewingAllTodos",
      "isViewingCurrentTodos",
      "isViewingGrid",
      "isViewingSortOrderAsc",
		]),
	},
	watch: {
    firebaseProfileId(){
      this.init();
    }
	},
	methods: {
    ...mapActions([
      "bindFirebaseTodos",
      "initSortOrderState",
      "setIsTodoBound"
    ]),
		init() {
			if (!this.firebaseProfileId) return;
      this.bindFirebaseTodos();
      this.setIsTodoBound(true);
		}
	},
  mounted(){
    if (!this.isTodoBound){
      this.init();
    }
  }*/
}
</script>

<style lang="css">

/*

	.cancel-btn {
		filter: invert(100%);
	}

	.nextMonth {
		color: rgba(255, 255, 255, 0.3) !important;
	}

	.weeks li {
		font-family: 'Armata', sans-serif !important;
	}

	.bg {
		background-color: #42b983 !important;
	}


	.larger {
		font-size: 1em;
		color: rgba(255, 255, 255, 0.25);
	}

	.smaller {
		font-size: 0.7em
	}

	.hover:hover {
		cursor: pointer;
		opacity: 0.7;
	}

	.inline-control-icon-left {
    position: relative;
  	top: -16px;
  	left: -16px;
  	float: left;
  	opacity: 0.5;
  	background: rgb(11, 8, 21);
  	line-height: 6px;
  	vertical-align: middle;
  	border-bottom-right-radius: 12px;
  	padding: 9px;
  	z-index: 1;
  	font-size: 0.7em;
  	color: rgb(108, 85, 62);
	}

	.inline-control-icon-right {
		position: relative;
		top: -14px;
		right: -16px;
		float: right;
		padding-right: 6px;
    font-size: 0.8em;
    opacity: 0.7;
	}

	.footer-item {
		float: left;
		width: 100%;
		padding-top: 8px;
		font-size: 0.75em;
	}

	.todos-container {
  	padding-left: 44px;
  	margin-top: 64px;
  	margin-left: 256px;
  	position: absolute;
  	overflow-y: scroll;
  	height: calc(100% - 140px);
    display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
	}

	.todo-item {
  	background: rgba(15, 9, 5, 0.39);
  	box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
  	float: left;
  	padding: 16px;
  	color: rgba(113, 98, 113, 1);
  	border-top-right-radius: 8px;
  	border-bottom-left-radius: 8px;
  	margin-right: 20px;
    width: 200px;
    margin-bottom: 20px;
    transition: 1s background;
    position: relative;
	}

  .todo-item:hover {
    background: rgba(15, 9, 5, 0.6);
  	box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.5);
  }

  .todo-item .inline-control-icon-left {
    transition: 1s color;
  }

  .todo-item:hover .inline-control-icon-left {
    color: rgba(163, 144, 163, 1);
  }

  .list {
    width: 100%;
  }

  .grid {
    width: 200px;
  }

	.todo-desc {
		font-size: 0.8em;
		text-align: left;
		width: 100%;
		float: left;
		color: rgba(255, 255, 255, 0.9);
		word-wrap: break-word;
	}

	.minimised-form {
		width: 0px ;
	}
	.minimised-options {
		margin-left: 44px ;
	}
	.full-todos-container {
		margin-left: 0px;
		width: calc(100% - 112px);
	}

  .small-todos-container {
    width: 81%;
  }

  .intro-message {
    padding: 16px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 24px;
  }


  @media(max-width: 1850px){
    .small-todos-container {
      width: 79%;
    }
  }

  @media(max-width: 1750px){
    .small-todos-container {
      width: 76%;
    }
  }

  @media(max-width: 1500px){
    .toggle-option-button {
    	margin-right: 0px;
  	}
    .small-todos-container {
      width: 68%;
    }
  }

  @media(max-width: 1100px){
    .toggle-option-button {
      font-size: 0.68em;
  	}

    .small-todos-container {
      width: 64%;
    }
  }

	@media(max-width: 1008px){
    .toggle-option-button {
      font-size: 0.55em;
    }
	  .todo-item {
		  font-size: 0.8em;
	  }

    .small-todos-container {
      width: 57%;
    }
	}

  @media(max-width: 768px){
    .todos-container {
  		display: block;
  		flex-wrap: none;
      overflow-y: scroll;
      height: 83%;
      margin-top: 86px;
      padding-top: 0%;
			width: 94%;
      padding-left: 8px;
  	}

    .todo-item {
      max-width:none;
      width: 91%;
			margin: 16px;
      margin-bottom: 15px;
    }

		.float {
			float: none;
			padding-top: 64px;
		}

		.sticky-form {
			position: absolute;
			width: 100%;
			float: none;
			margin-top: 64px;
			z-index: 2000;
		}

		.sticky-form textarea {
			height: calc(100vh - 256px) !important;
		}

		.toggle-options {
      display: flex;
      width: 100%;
      margin-top: 0px;
			margin-left: 0px;
		}

    .toggle-option-button {
      text-align: center;
      width: 33%;
      line-height:  48px;

      font-size: 12px;
      margin-right: 0px;
    }

  }

  @media(max-width: 512px){
    .todo-item {
      width: 83%;
      margin: 8px;
    }

    .todo-item .inline-control-icon-right {
      font-size: 1.6em;
    }
	}

  */

</style>
