<template lang="html">
  <section class="contacts-list">
    <!--
    <h2>Contacts</h2>
    <contact-item
      v-for="(contact, index) in allContacts"
      v-bind:key="index"
      v-bind:contactMeta="contact"
      />-->
  </section>
</template>

<script>
/*
import ContactItem from "./ContactItem.vue";

export default {
  components: {
    ContactItem
  },
  data(){
    return {
      allContacts: []
    }
  },
  mounted(){
    this.retreiveGoogle();
  },
  methods: {
    retreiveGoogle(){
      gapi.client.people.people.connections.list({
        "resourceName": "people/me",
        "pageSize": 20,
        "personFields": "names,emailAddresses,phoneNumbers",
      }).then((res) => {
        this.allContacts = res.result.connections
      });
    }
  }
}*/
</script>

<style lang="css">
</style>
