<template lang="html">
  <div class="contact-item">
    <!--
    <span class="contact-avatar"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
    <div class="contact-info">
      <h3 class="contact-name">{{ contactMeta.names[0].displayName }} </h3>
      <span class="contact-phone" v-if="this.contactMeta.phoneNumbers">{{ contactMeta.phoneNumbers[0].value }}</span>
    </div>
  -->
  </div>
</template>

<script>
/*
export default {
  props: [
    "contactMeta"
  ]
}*/
</script>

<style lang="css">

  .contact-item {
    float: left;
    padding: 16px;
    width: calc(100% - 32px);
    border: 1px solid;
    margin-bottom: 4px;
  }

  .contact-info {
    float: left;
    width: calc(100% - 64px);
    line-height: 48px;
  }

  .contact-avatar {
    float: left;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 42px;
    line-height: 48px;
    margin-right: 16px;
  }


  .contact-name {
    display: inline;
  }

  .contact-phone {
    float: right;
  }

</style>
