<template lang="html">
  <div>
    <!-- todo, add a pretty picture <div class="imge-block"></div>
    <div class="chat-card">
      <contacts-list class="card-contents"/>
    </div>-->
  </div>
</template>

<script>

/*
import ContactsList from "./ContactsList.vue";

export default {
  components: {
    "contacts-list": ContactsList
  }
}*/
</script>

<style lang="css">


  .card-background {
    position: absolute;
    right: 70px;
    bottom: 0;
    z-index: 1;
  }

  .card-background img{
    height: 300px;
  }


  .chat-card {
    position: relative;
    margin: 32px;
    float: left;
    width: 50%;
    background: rgba(15, 9, 5, 0.39);
    box-shadow: inset 0px 0px 45px 5px rgba(0,0,0,0.1);
    border-radius: 28px;
    padding: 32px;
    color: rgba(113, 98, 113, 1);
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .card-contents {
    z-index: 2;
    top: 0;
  }


  .chat-card h2 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 16px;
    width: 35%;
  }

  .chat-card h3 {
    font-weight: normal;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 4px;
    top: 16px;
    margin-bottom: 16px;
    width: 40%;
  }

  .chat-card p {
    font-weight: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
  }



</style>
